<nav class="dfe-vertical-nav govuk-!-margin-top-2" aria-labelledby="vertical-nav-heading">
  <div class="dfe-vertical-nav__mobile-container">
    <button class="dfe-vertical-nav__toggle" aria-expanded="false" aria-controls="vertical-nav-list">
      <span class="dfe-vertical-nav__toggle-text"><strong>Pages in this section</strong></span>
      <span class="dfe-vertical-nav__chevron" aria-hidden="true"></span>
    </button>
    <h2 class="govuk-heading-s govuk-visually-hidden" id="vertical-nav-heading">
      Pages in this section
    </h2>

  <a href="/tools-testing" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to tools and testing</a>


    <ul class="dfe-vertical-nav__section">

    <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--with-subnav{% if path == '/tools-testing/cognitive' %} dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/cognitive">Cognitive</a>
        <ul class="dfe-vertical-nav__section dfe-vertical-nav__section--nested" style="display: {% if path == '/tools-testing/cognitive' %}block{% else %}none{% endif %}"> 
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/cognitive#testing-tools">Tools to identify barriers</a>
          </li>
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/cognitive#testing-checklist">Testing checklist</a>
          </li>
          <li class="dfe-vertical-nav__section-item">
              <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/cognitive#personas">Testing with personas</a>
          </li>
        </ul>
      </li>
      <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--with-subnav{% if path == '/tools-testing/hearing' %} dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/hearing">Hearing</a>
        <ul class="dfe-vertical-nav__section dfe-vertical-nav__section--nested" style="display: {% if path == '/tools-testing/hearing' %}block{% else %}none{% endif %}">
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/hearing#testing-tools">Tools to identify barriers</a>
          </li>
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/hearing#testing-checklist">Testing checklist</a>
          </li>
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/hearing#personas">Testing with personas</a>
          </li>
        </ul>
      </li>
      <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--with-subnav{% if path == '/tools-testing/motor' %} dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/motor">Motor</a>
        <ul class="dfe-vertical-nav__section dfe-vertical-nav__section--nested" style="display: {% if path == '/tools-testing/motor' %}block{% else %}none{% endif %}">
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/motor#testing-tools">Tools to identify barriers</a>
          </li>
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/motor#testing-checklist">Testing checklist</a>
          </li>
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/motor#personas">Testing with personas</a>
          </li>
        </ul>
      </li>
      
       <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--with-subnav{% if path == '/tools-testing/vision' %} dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/vision">Vision</a>
        <ul class="dfe-vertical-nav__section dfe-vertical-nav__section--nested" style="display: {% if path == '/tools-testing/vision' %}block{% else %}none{% endif %}">
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/vision#testing-tools">Tools to identify barriers</a>
          </li>
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/vision#testing-checklist">Testing checklist</a>
          </li>
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/vision#personas">Testing with personas</a>
          </li>
        </ul>
      </li>

      <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--with-subnav{% if path == '/tools-testing/false-positives' %} dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/false-positives">False positives</a>
        <ul class="dfe-vertical-nav__section dfe-vertical-nav__section--nested" style="display: {% if path == '/tools-testing/false-positives' %}block{% else %}none{% endif %}">
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/false-positives#understanding-false-positives">Understand false positives</a>
          </li>
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link govuk-link govuk-link--no-visited-state" href="/tools-testing/false-positives#understand-false-assurance">Understand false assurance</a>
          </li>
        </ul>
      </li>
    
  
    </ul>
  </div>
</nav>
