{% extends "layouts/layout.html" %}

{% set serviceNav = "Tools and testing" %}
{% set path = "/tools-testing" %}
{% set title = "Tools and testing" %}
{% set description = "Tools and testing techniques to help you  accessibility standards." %}


{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>


  
     <section class="dfe-manual-section ">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">How to test for different disabilities and impairments</h2>
                    <p class="govuk-body">Understand the impact of different impairments and how to use a range of tools and techniques.</p>
                    <p class="govuk-body">These will help you check your product or website for any barriers or issues.</p>

                   
                   
                </div>
            </div>
             <div class="govuk-grid-row govuk-!-margin-top-6">

                 <div class="govuk-grid-column-full">

                    <h3 class="govuk-heading-m">Vision</h3>
                </div>
                <div class="govuk-grid-column-one-half">

                    <p class="govuk-body">Being able to use sight to interact with or understand content can be affected by a range of conditions, including:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>colour blindness</li>
                        <li>low vision</li>
                        <li>blindness</li>
                        <li>eye injuries</li>
                        <li>bright or low light conditions</li>
                        <li>older devices and low screen resolution</li>
                    </ul>

                   

                  
                   
                </div>
                 <div class="govuk-grid-column-one-half">

           <p class="govuk-body"><a href="/tools-testing/vision" class="govuk-link govuk-link--no-visited-state">Understand the impact</a> that visual impairments can have on users when using digital products and websites.</p>
<p class="govuk-body"><a href="/tools-testing/vision#tools" class="govuk-link govuk-link--no-visited-state">Tools and techniques</a> to help you test for visual impairments.</p>

                   
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                   
                   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                   
                </div>
            </div>

                <div class="govuk-grid-row govuk-!-margin-top-3">

                 <div class="govuk-grid-column-full">

                    <h3 class="govuk-heading-m">Hearing</h3>
                </div>
                <div class="govuk-grid-column-one-half">

                    <p class="govuk-body">Hearing can be affected by a range of conditions, including:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>hearing loss</li>
                        <li>deafness</li>
                        <li>tinnitus</li>
                        <li>ear infections</li>
                        <li>ear injuries</li>
                    </ul>

                   

                   
                </div>
                 <div class="govuk-grid-column-one-half">

                  
                    <p class="govuk-body"><a href="/tools-testing/hearing" class="govuk-link govuk-link--no-visited-state">Understand the impact</a> that hearing issues can have on users when using digital products and websites.</p>

                   
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                   
                   <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                   
                </div>
            </div>
        </div>
    </section>

    

{% endblock %}