{% extends "layouts/layout.html" %}

{% set serviceNav = "Tools and testing" %}
{% set path = "/tools-testing" %}
{% set title = "Tools and testing" %}
{% set description = "Accessibility tools and techniques to improve the accessibility of your service and meet standards." %}

{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section ">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Testing by disability or impairment</h2>
                    <p class="govuk-body">Understand the impact of different impairments and the tools you can use to help identify potential barriers to accessibility.</p>

                    <div class="dfe-grid-container govuk-!-margin-top-2">

                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-s">
                                    <a href="/tools-testing/hearing" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Cognitive</a>
                                </h3>
                                <p class="govuk-body">Conditions that affect thinking, learning and memory, including dyslexia, dyscalculia and neurodiversity.</p>
                            </div>
                        </div>
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-s">
                                    <a href="/tools-testing/hearing" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Hearing</a>
                                </h3>
                                <p class="govuk-body">Conditions that affect hearing including deafness, tinnitus, loud or noisy environments and progressive hearing loss.</p>
                            </div>
                        </div>
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-s">
                                    <a href="/tools-testing/hearing" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Physical</a>
                                </h3>
                                <p class="govuk-body">Conditions that affect physical movement and dexterity, including injuries and short term disabilities.</p>
                            </div>
                        </div>
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-s">
                                    <a href="/tools-testing/vision" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Vision</a>
                                </h3>
                                <p class="govuk-body">Conditions that affect vision including colour blindness, low vision, bright or low light conditions, and colour perception.</p>
                            </div>
                        </div>

                    </div>

                      <h2 class="govuk-heading-l">Find and use tools</h2>
                      <p class="govuk-body">The range of tools you can use and how they can help you identify potential barriers to people accessing your service.</p>

                      <p class="govuk-body">These tools do not replace the need to test with real people.</p>

                       <div class="dfe-grid-container govuk-!-margin-top-2">

                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-s">
                                    <a href="/tools-testing/tools" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Tools</a>
                                </h3>
                                <p class="govuk-body">A range of tools you can use to test for accessibility issues.</p>
                            </div>
                        </div>
{# card for false positives #}
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-s">
                                    <a href="/tools-testing/false-positives" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">False positives</a>
                                </h3>
                                <p class="govuk-body">Guidance on how to deal with false positives and false assurances.</p>
                            </div>
                        </div>
                      

                </div>
            </div>
        </div>
    </section>

{% endblock %}