{% extends "layouts/layout.html" %}

{% set serviceNav = "Tools and testing" %}
{% set path = "/tools-testing/testing-checklist" %}
{% set title = "Testing checklist" %}
{% set description = "A checklist to help you test for different impairments" %}
{% set dateModified = "2025-07-09" %}
{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">{{ title }}</h1>
        <p class="govuk-body">{{ description }}</p>

        <h2 class="govuk-heading-m">Cognitive impairments</h2>
        <p class="govuk-body">Cognitive impairments can affect how people process and understand information.</p>
        <p class="govuk-body">Common conditions include:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>difficulty remembering information</li>
    </div>
</div>


                </div>
            </div>
        </div>
    </section>

{% endblock %}