<nav class="dfe-vertical-nav sticky" aria-labelledby="vertical-nav-heading">
  <h2 class="govuk-heading-s govuk-visually-hidden" id="vertical-nav-heading">
    Pages in this section
  </h2>

  <a href="/audits-issues-statements" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to audits, issues and statements</a>

  
  <ul class="dfe-vertical-nav__section">
   
    <li class="dfe-vertical-nav__section-item{% if path == '/audits-issues-statements/issues/common-issues' %} dfe-vertical-nav__section-item--current{% endif %}">
      <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/common-issues">Common issues</a>
    </li>
      
    <li class="dfe-vertical-nav__section-item{% if path == '/audits-issues-statements/issues/manage-and-prioritise-issues' %} dfe-vertical-nav__section-item--current{% endif %}">
      <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/manage-and-prioritise-issues">Manage and prioritise issues</a>
      <ul class="dfe-vertical-nav__section dfe-vertical-nav__section--nested" style="display: {% if path == '/audits-issues-statements/issues/manage-and-prioritise-issues' %}block{% else %}none{% endif %}">
        <li class="dfe-vertical-nav__section-item">
          <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/manage-and-prioritise-issues#who-is-involved">Who's involved</a>
        </li>
        <li class="dfe-vertical-nav__section-item">
          <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/manage-and-prioritise-issues#track-issues">Track issues</a>
        </li>
        <li class="dfe-vertical-nav__section-item">
          <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/manage-and-prioritise-issues#prioritise-issues">Prioritise issues</a>
        </li>
        <li class="dfe-vertical-nav__section-item">
          <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/manage-and-prioritise-issues#remediate-issues">Remediate issues</a>
        </li>
        <li class="dfe-vertical-nav__section-item">
          <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/manage-and-prioritise-issues#update-your-accessibility-statement">Update your accessibility statement</a>
        </li>
      </ul>
    </li>
     <li class="dfe-vertical-nav__section-item{% if path == '/audits-issues-statements/issues/disproportionate-burden' %} dfe-vertical-nav__section-item--current{% endif %}">
      <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/disproportionate-burden">Disproportionate burden</a>
    </li>
  </ul>
</nav>
