{% extends "layouts/layout.html" %}

{% set serviceNav = "Audits" %}
{% set path = "/audits-issues-statements/issues/common-issues" %}
{% set title = "Common issues" %}
{% set description = "" %}


{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Audits, issues and statements</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

        <section class="dfe-manual-section dfe-manual-section-header--white">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third sticky">

                    {% include "audits-issues-statements/issues/_nav.html" %}

                </div>
                <div class="govuk-grid-column-two-thirds">

                     <p>Many DfE services contain similar accessibility issues. We update the issues list below, as we identify changes in accessibility issues in our products and services.</p>

    <p>Lots of these issues can be avoided by using the guidance in this manual, and becoming familiar with the content and user interfaces you create.</p>


    <p>Find out more about each issue, and how to avoid them:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>
            <a href="/audits-issues-statements/issues/common-issues/error-messages" class="govuk-link govuk-link--no-visited-state">error messages</a>
        </li>
        <li>
            <a href="/audits-issues-statements/issues/common-issues/alt-text" class="govuk-link govuk-link--no-visited-state">images, charts, and alt text</a>
        </li>
        <li>
                <a href="/knowledge-hub/common-issues/headings" class="govuk-link govuk-link--no-visited-state">incorrect heading structure</a>
        </li>
        <li>
            <a href="/knowledge-hub/common-issues/links" class="govuk-link govuk-link--no-visited-state">non-descriptive links</a>
        </li>
        <li>
            <a href="/knowledge-hub/common-issues/status-changes" class="govuk-link govuk-link--no-visited-state">status changes to content not provided to screen readers</a>
        </li>
        <li>
            <a href="/knowledge-hub/common-issues/colour" class="govuk-link govuk-link--no-visited-state">use of colour</a>
        </li>
    </ul>

                </div>
            </div>
        </div>
    </section>

{% endblock %}