{% extends "layouts/layout.html" %}

{% set serviceNav = "Audits, issues and statements" %}
{% set path = "/audits-issues-statements/issues/common-issues" %}
{% set title = "Common issues" %}
{% set description = "Discover the most common accessibility issues found in DfE digital services and how to fix them." %}
{% set dateModified = "2025-07-09" %}
{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Audits, issues and statements</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section dfe-manual-section-header--white">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third sticky">

                    {% include "audits-issues-statements/issues/_nav.html" %}

                </div>
                <div class="govuk-grid-column-two-thirds">

                    <p class="govuk-body">Many DfE services contain similar accessibility issues. You can avoid many of these issues by following the advice in this guidance and understanding the content and interfaces you design.</p>

                    <p class="govuk-body">We update the issues list below as we identify changes in issues in our products and websites.</p>

                    <h2 class="govuk-heading-l" id="error-messages">Error messages</h2>

                    <p class="govuk-body">Clear and helpful error messages are particularly useful for people with cognitive disabilities and those who are neurodivergent.</p>
                    <p class="govuk-body">Follow <a href="https://design-system.service.gov.uk/components/error-message/" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">GOV.UK guidance to create accessible error messages</a>.</p>

                    <h3 class="govuk-heading-m" id="non-descriptive-error-messages">Non-descriptive error messages</h3>

                    <p class="govuk-body">When a user makes a mistake, it's important to provide a clear and concise error message that explains the problem and how to fix it. This will help users understand what they need to do to correct the error and continue with their task.</p>
                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-s">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Use descriptive error messages that explain what the problem is and how
                to fix it.</p>
                                <img src="/assets/images/error-description-do.png" alt="Example of good error description with clear, helpful text explaining the issue" class="img-responsive govuk-!-margin-bottom-5">

                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-s">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not use generic error messages that are ambiguous or do not explain the problem.</p>
                                <img src="/assets/images/error-description-dont.png" class="img-responsive govuk-!-margin-bottom-5"
                  alt="The words, 'There is a problem', and the message, 'Information is missing' in red text">
                            </div>
                        </div>
                    </div>

                    <h3 class="govuk-heading-m govuk-!-margin-top-9" id="showing-errors-from-a-server-or-database">Showing errors from a server or database</h3>

                    <p class="govuk-body">Sometimes errors are raised from a server or database, these errors are not user-friendly and can be confusing. It's important to catch these errors and provide a clear, user-friendly message.</p>

                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-s">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Use descriptive error messages that explain what the problem is and how to fix it.</p>
                                <img src="/assets/images/error-db-do.png" class="img-responsive govuk-!-margin-bottom-5"
                alt="The words, 'There is a problem', and the message, 'Your first name is missing' in red text">

                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-s">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not show database generated errors. They can expose information to hackers.</p>
                                <img src="/assets/images/error-db-dont.png" class="img-responsive govuk-!-margin-bottom-5"
                  alt="The words, 'There is a problem', and the message, 'Information is missing' in red text">
                            </div>
                        </div>
                    </div>

                    <h3 class="govuk-heading-m govuk-!-margin-top-9" id="not-linking-error-messages-to-the-input">Not linking error messages to the input</h3>

                    <p class="govuk-body">Linking the error message in an error summary section to the input makes it easier to find and correct the error. This is particularly important for people who use screen readers, as it helps them to understand which input the error message is referring to.</p>

                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-s">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Link the error message to the ID of the input that has the error.</p>
                                <img src="/assets/images/error-link-do.png" class="img-responsive govuk-!-margin-bottom-5"
                alt="The words, 'There is a problem', and the message, 'Your first name is missing' in red text">

                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-s">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not use plain text in error messages. It makes it harder to navigate the form.</p>
                                <img src="/assets/images/error-link-dont.png" class="img-responsive govuk-!-margin-bottom-5"
                  alt="The words, 'There is a problem', and the message, 'Information is missing' in red text">
                            </div>
                        </div>
                    </div>

                    <h3 class="govuk-heading-m govuk-!-margin-top-9" id="mismatched-error-messages">Mismatched error messages</h3>

                    <p class="govuk-body">Error summaries are a list of all the errors on a page. They're usually placed at the top of the page and help users quickly identify and correct any errors they have made.</p>
                    <p class="govuk-body">Error summaries are particularly useful for users who are using screen readers, as they provide a clear and concise list of all the errors on a page.</p>

                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-s">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Ensure the error is linked to the input in error, and is descriptive.</p>
                                <img src="/assets/images/error-label-do.png" class="img-responsive govuk-!-margin-bottom-5"
                alt="The words, 'There is a problem', and the message, 'Your first name is missing' in red text">

                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-s">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not have different error messages in the summary and against the input.</p>
                                <img src="/assets/images/error-label-dont.png" class="img-responsive govuk-!-margin-bottom-5"
                  alt="The words, 'There is a problem', and the message, 'Information is missing' in red text">
                            </div>
                        </div>
                    </div>

                    <h2 class="govuk-heading-l govuk-!-margin-top-9" id="headings">Heading structure</h2>

                    <p class="govuk-body">Headings should be used to create a logical structure for content. This helps users to understand and navigate content more easily.</p>
                    <p class="govuk-body">Follow <a href="https://design-system.service.gov.uk/styles/headings/" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">GOV.UK guidance to create accessible headings</a>.</p>

                    <p class="govuk-body">
                       Check the structure of your pages with the <a href="/tools-testing/tools/headingsmap" class="govuk-link govuk-link--no-visited-state">HeadingsMap tool</a>.</p>

                    <h3 class="govuk-heading-m">Skipped heading levels</h3>

                    <p class="govuk-body">Skipped heading levels can cause confusion, and from a semantic code perspective, is incorrect.</p>

                    <p class="govuk-body">Structure headings in a logical order, for example, use H1 followed by H2, and H3.</p>

                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-s">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Use a logical heading structure which clearly shows the hierarchy of the page.</p>
                                <img src="/assets/images/headings-do.png" class="img-responsive govuk-!-margin-bottom-5"
                alt="Content shown with logical heading structure of H1 followed by H2 then H3.">

                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-s">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not skip heading levels, this is confusing and semantically incorrect.</p>
                                <img src="/assets/images/headings-dont.png" class="img-responsive govuk-!-margin-bottom-5"
                  alt="Content shown with incorrect heading structure of H1 followed by H3, skipping a heading level 2.">
                            </div>
                        </div>
                    </div>

                    <h3 class="govuk-heading-m govuk-!-margin-top-9">Use semantic heading structure</h3>

                    <p>Use the correct code to create headings so that screen-reader users can navigate the page and understand the structure of the content.</p>

                    <p>Follow <a href="https://design-system.service.gov.uk/styles/headings/" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">GOV.UK guidance for headings</a>, which encourages the use of H1 to H3. If content appears to have a need to go beyond an H3, you should redesign it.</p>

                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-s">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Use correct HTML markup (H1, H2, H3) for headings.</p>
                                <img src="/assets/images/headings-semantic-do.png" class="img-responsive govuk-!-margin-bottom-5"
                alt="Content shown with logical heading structure of H1 followed by H2 then H3.">

                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-s">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not style paragraphs or other elements to look like headings.</p>
                                <img src="/assets/images/headings-semantic-dont.png" class="img-responsive govuk-!-margin-bottom-5"
                  alt="Content shown with incorrect heading structure of H1 followed by H3, skipping a heading level 2.">
                            </div>
                        </div>
                    </div>
                    <h2 class="govuk-heading-l govuk-!-margin-top-9" id="images-charts-and-alt-text">Images, charts and alt text</h2>

                    <p class="govuk-body">People with a sight impairment or are blind, rely on good alternative descriptions to understand non-text content.</p>

                    <p class="govuk-body">Follow <a href="https://design-system.service.gov.uk/styles/images" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">GOV.UK guidance to create accessible images</a>.</p>

                    <h3 class="govuk-heading-m" id="wrong-alt-text">Wrong alt text</h3>

                    <p class="govuk-body">When a user makes a mistake, it's important to provide a clear and concise error message that explains the problem and how to fix it. This will help users understand what they need to do to correct the error and continue with their task.</p>
                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-m">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Ensure alt text accurately describes the image.</p>
                                <img src="/assets/images/classroom.jpg" class="img-responsive govuk-!-margin-bottom-5" alt="A teacher standing in front of a class of children who are sitting at desks.">
                                <code class="code-example-inline"> alt="A teacher standing in front of a class of children who are sitting at desks."</code>
                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-m">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not use the filename or misleading descriptions. </p>
                                <img src="/assets/images/classroom.jpg" class="img-responsive govuk-!-margin-bottom-5" alt="">
                                <code class="code-example-inline"> alt="image123"</code>
                            </div>
                        </div>

                    </div>
                    <h3 class="govuk-heading-m govuk-!-margin-top-9">Chart data and labels</h3>

                    <p class="govuk-body">It's important to ensure that colour alone has not been used to provide information or descriptions. For users with colour deficiencies or colour blindness, this content can often not be understood. </p>
                    <p class="govuk-body">
Use the <a href="https://design.education.gov.uk/design-system/patterns/charts" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">charts guidance in the DfE Design manual</a>.</p>

                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-s">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Label charts with information and use a range of colours.</p>
                                <img src="/assets/images/charts-do.png" class="img-responsive govuk-!-margin-bottom-5"
                alt="Example of a circle of lines which spin around and code for aria region.">

                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-s">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not use colour alone to represent data or a label for a chart.</p>
                                <img src="/assets/images/charts-dont.png" class="img-responsive govuk-!-margin-bottom-5"
                  alt="Example of a circle of lines which spin around and no code to support aria live region.">
                            </div>
                        </div>
                    </div>

                    <h2 class="govuk-heading-l govuk-!-margin-top-9" id="non-descriptive-links">Non-descriptive links</h2>

                    <p class="govuk-body">Some users, especially those using a screen reader, may navigate content by looking for links or viewing links in a list to try to find specific content.</p>

                    <p class="govuk-body">If links are not unique or descriptive this can be frustrating.</p>

                    <p class="govuk-body">Follow <a href="https://design-system.service.gov.uk/styles/links/" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">GOV.UK guidance to create accessible links</a>.</p>

                    <h3 class="govuk-heading-m">Repetitive links</h3>

                    <p class="govuk-body">In some cases, repetitive links are necessary, for example, in a table where actions may be required.</p>

                    <p class="govuk-body">You can make links more useful by including visually-hidden text for each link, which supports screen-reader users to understand the context of the link.</p>

                    <p class="govuk-body">This is particularly useful when designing <a href="https://design-system.service.gov.uk/patterns/check-answers/" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">Check your answers</a>.</p>

                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-s">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Use hidden text to add extra information for the edit link.</p>
                                <img src="/assets/images/repeat-links-do.png" class="img-responsive govuk-!-margin-bottom-5"
                alt="Example of a table with repeated Edit links with visually hidden text code example.">

                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-s">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not use generic content without additional context.</p>
                                <img src="/assets/images/repeat-links-dont.png" class="img-responsive govuk-!-margin-bottom-5"
                  alt="Example of a table with repeated Edit links with no visually hidden text.">
                            </div>
                        </div>
                    </div>

                    <h3 class="govuk-heading-m govuk-!-margin-top-9">Non-descriptive links</h3>

                    <p class="govuk-body">If links are not unique or descriptive users will not know what to expect.</p>

                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-s">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Use inline links that are descriptive and unique.</p>
                                <img src="/assets/images/descriptive-links-do.png" class="img-responsive govuk-!-margin-bottom-5"
                alt="Text which says 'You may be eligible for free childcare if you're in England, and working.' with free childcare as the link">

                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-s">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not link long sentences or provide more information than necessary.</p>
                                <img src="/assets/images/descriptive-links-dont.png" class="img-responsive govuk-!-margin-bottom-5"
                  alt="Text which says 'Check if you are eligible for free childcare if you're in England, and working' and all the text is a link">
                            </div>
                        </div>
                    </div>

                    <h2 class="govuk-heading-l govuk-!-margin-top-9" id="dynamic-content">Status changes to content</h2>
                    <p class="govuk-body">When JavaScript is used to update content on a page, sighted users can see the changes.</p>
                    <p class="govuk-body">For users who are blind, have low vision, use a screen reader, or magnifier, these changes need to be communicated in other ways.</p>

                    <p class="govuk-body">For example, when a page is loading, usually a visual spinning circle can be seen by default, this update will not be provided to screen readers.</p>

                    <h3 class="govuk-heading-m">How to prevent issues</h3>

                    <p class="govuk-body">ARIA live regions are one way changes to content can be provided to screen readers. Ensure the correct live region is provided depending on the type of change.</p>

                    <p class="govuk-body">Incorrect implementation of ARIA can sometimes make a user experience worse. If you need advice on how to implement ARIA live regions, <a href="/support">contact DesignOps</a>.</p>

                    <p class="govuk-body">Find more information about <a href="https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">ARIA live regions</a> on the Mozilla Developer Network.</p>

                    <h3 class="govuk-heading-m">Changes to content not provided to screen readers</h3>

                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-s">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Use ARIA attributes to tell screen readers about content changes.</p>
                                <img src="/assets/images/loading-do.png" class="img-responsive govuk-!-margin-bottom-5"
                alt="Example of a circle of lines which spin around and code for aria region.">

                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-s">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not rely on icons alone to alert users to changes on a page.</p>
                                <img src="/assets/images/loading-dont.png" class="img-responsive govuk-!-margin-bottom-5"
                  alt="Example of a circle of lines which spin around and no code to support aria live region.">
                            </div>
                        </div>
                    </div>

                    <h2 class="govuk-heading-l govuk-!-margin-top-9" id="using-colour">Using colour</h2>

                    <p class="govuk-body">DfE digital services should follow <a href="https://design-system.service.gov.uk/styles/colour/" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">GOV.UK guidance for colour</a>.</p>
                    <p class="govuk-body">Campaign sites using a different colour palette can get support from <a href="https://educationgovuk.sharepoint.com/sites/communications/SitePages/publish-gov-uk.aspx#get-help-or-support" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">DigiComms (open DfE intranet)</a> and the <a href="https://gcs.civilservice.gov.uk/guidance/marketing/how-to-set-up-a-new-government-campaign-online/" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">Government Communication Service (GCS)</a>.</p>

                    <h3 class="govuk-heading-m">Text contrast</h3>

                    <p class="govuk-body">Low text contrast can make content difficult to read, especially for people with sight impairments or colour deficiencies.</p>

                    <p class="govuk-body">Ensure text and background colours have a contrast ratio of at least 4.5:1 for normal text and 3:1 for large text.</p>

                    <p>Check the contrast ratio of your text and background colours using the <a href="/tools-testing/tools/contrast-checker" class="govuk-link govuk-link--no-visited-state">Contrast Checker tool</a>.</p>

                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-s">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Use foreground and background colours that sufficiently contrast.</p>
                                <img src="/assets/images/contrast-do.png" class="img-responsive govuk-!-margin-bottom-5"
                alt="The words, 'There is a problem', and the message, 'Your first name is missing' in red text">

                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-s">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not use light text on pale backgrounds that makes content difficult to read.</p>
                                <img src="/assets/images/contrast-dont.png" class="img-responsive govuk-!-margin-bottom-5"
                  alt="The words, 'There is a problem', and the message, 'Information is missing' in red text">
                            </div>
                        </div>
                    </div>

                    <h3 class="govuk-heading-m govuk-!-margin-top-9">Non-text contrast</h3>

                    <p>Checking the non-text contrast ratio on each page of your product or website ensures that users with low vision or a colour deficiency can perceive parts of the screen that may not be text but are still important for accessing and understanding content.</p>

                    <p>Non-text contrast has a minimum requirement of a 3:1 contrast ratio. You can use the <a href="/tools-testing/tools/contrast-checker" class="govuk-link govuk-link--no-visited-state">Contrast Checker</a> to check this.</p>

                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-s">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Ensure elements like buttons sufficiently contrast against the page background.</p>
                                <img src="/assets/images/non-contrast-do.png" class="img-responsive govuk-!-margin-bottom-5"
                alt="A red play button on a light grey background.">

                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-s">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not use colours that make it difficult to identify an element against a background.</p>
                                <img src="/assets/images/non-contrast-dont.png" class="img-responsive govuk-!-margin-bottom-5"
                  alt="A grey play button on a light grey background.">
                            </div>
                        </div>
                    </div>

                    <h3 class="govuk-heading-m govuk-!-margin-top-9">Focus state</h3>

                    <p>Focus states help users know they're on an interactive element, like a link or a form input. They're important for people who use a keyboard to navigate, and for those with low vision or a colour deficiency.</p>

                    <p>If the foreground and background colours do not have enough contrast, users with low vision or a colour deficiency may not see the name of the link. </p>

                    <p>Changing the style of the focus state when designing services using the <a href="https://design-system.service.gov.uk/" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer"> GOV.UK Design System</a> and <a href="https://frontend.design-system.service.gov.uk/" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">GOV.UK Frontend</a> can confuse people.</p>

                    <div class="govuk-grid-row dfe-flex">
                        <div class="govuk-grid-column-full govuk-!-margin-bottom-5 dfe-flex-item">
                            <div class="dfe-panel-do">
                                <h3 class="govuk-heading-s">Do</h3>
                                <p class="govuk-!-margin-bottom-5">Use the default GOV.UK Design System styling for focus states.</p>
                                <img src="/assets/images/focus-do.png" class="img-responsive govuk-!-margin-bottom-5"
                alt="The words, Follow the content style guide when writing for the web, with the words 'content style guide' highlighted with a yellow background to demonstrate focus state.">

                            </div>
                        </div>
                        <div class="govuk-grid-column-full dfe-flex-item">
                            <div class="dfe-panel-dont">
                                <h3 class="govuk-heading-s">Don't</h3>
                                <p class="govuk-!-margin-bottom-5">Do not change the colour or style of focus states.</p>
                                <img src="/assets/images/focus-dont.png" class="img-responsive govuk-!-margin-bottom-5"
                  alt="The words, Follow the content style guide when writing for the web, with the words 'content style guide' written in red and underlined.">
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

{% endblock %}