{% extends "layouts/layout.html" %}

{% set serviceNav = "Audits" %}
{% set path = "/audits-issues-statements/issues/disproportionate-burden" %}
{% set title = "Disproportionate burden" %}
{% set description = "" %}

{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Audits, issues and statements</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section dfe-manual-section-header--white">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third sticky">

                    {% include "audits-issues-statements/issues/_nav.html" %}

                </div>
                <div class="govuk-grid-column-two-thirds">

                    <p class="govuk-body">Disproportionate burden is a clause within the accessibility regulations that provides some reprieve based on an organisation's remit, and the size and cost of remediation work. Meeting the clause requires the organisation to carry out a test.</p>

  <p class="govuk-body">The clause is appropriate for small organisations, like a parish council that are run on a largely voluntary basis.</p>

                    <p class="govuk-body">It's the prioritisation or lack of designing for accessibility at the start, and throughout, that causes issues or increased expense.</p>
                    <div class="govuk-inset-text">DfE has considerable funding, therefore, it is not appropriate to apply it in DfE.</div>

                    <p class="govuk-body">When you remove the rationale of money and time - the disproportionate burden route only:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>increases governance and internal processes</li>
                        <li>opens DfE to scrutiny, as people will ask for and publicise details of the decision and calculation of the request</li>
                        <li>slows down wider take-up of the regulations</li>
                    </ul>


                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
      The disproportionate burden test
    </span>
                        </summary>
                        <div class="govuk-details__text">
                            <p class="govuk-body">When testing for disproportionate burden, you must consider the scale and capacity of the organisation to resolve the issue.</p>
                            <p class="govuk-body">Evaluate:</p>
                            <ul class="govuk-list govuk-list--bullet">
                                <li>cost of making the product or website accessible</li>
                                <li>people needed to resolve the issue</li>
                                <li>benefit to users with disabilities</li>
                                <li>how often the product is used</li>
                                <li>how long people spend interacting with it</li>
                            </ul>

                            <p class="govuk-body">You should also:</p>

                            <ul class="govuk-list govuk-list--bullet">
                                <li>show what disproportionate burden you are applying in your accessibility statement</li>
                                <li>publish your evidence and test outcomes</li>
                            </ul>
                        </div>
                    </details>

                  
                  
                </div>
            </div>
        </div>
    </section>

{% endblock %}