{% extends "layouts/layout.html" %}

{% set serviceNav = "Audits" %}
{% set path = "/audits-issues-statements/issues/manage-and-prioritise-issues" %}
{% set title = "Manage and prioritise issues" %}
{% set description = "" %}

{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Audits, issues and statements</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section dfe-manual-section-header--white">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third sticky">

                    {% include "audits-issues-statements/issues/_nav.html" %}

                </div>
                <div class="govuk-grid-column-two-thirds">

                    <p>By law, you need to ensure your product or website is compliant with <a href="/standards" class="govuk-link govuk-link--no-visited-state">accessibility regulations</a>. Addressing issues promptly will help you do this.</p>
                    <p>Accessibility issues can cause barriers for people using your product or website, so it's important you address them quickly.</p>
                    <p>Issues can be raised through an audit, your own testing, an accessibility specialist or feedback or a complaint from a user.</p>

                    <h2 class="govuk-heading-l" id="who-is-involved">Who's involved</h2>

                    <p>All professions should be involved in the process of addressing accessibility issues.</p>
                    <p>Product and delivery managers should manage prioritisation and timescales for issues. Lead developers and designers should also be involved, as they will be responsible for fixes and how they're implemented.</p>
                    <p>Audit outcomes, issues and how they're being resolved should be shared across all professions within the team to ensure awareness and good practice.</p>

                    <h2 class="govuk-heading-l" id="track-issues">Track issues</h2>

                    <p>Following your <a href="/audits-issues-statements/audits/accessibility-audits" class="govuk-link govuk-link--no-visited-state">accessibility audit</a>, or carrying out your own <a href="/tools-testing" class="govuk-link govuk-link--no-visited-state">testing</a>, you'll need to track your issues to ensure they're followed through to resolution.</p>
                    <p>This will also provide you with evidence of issues being fixed, which'll help in updating your <a href="/audits-issues-statements/accessibility-statements/templates" class="govuk-link govuk-link--no-visited-state">accessibility statement</a>.</p>

                    <p>Your tracking will need to include:</p>

                    <ul class="govuk-list govuk-list--bullet">

                        <li>issue description</li>
                        <li>
                            <a href="/standards/wcag/conformance" class="govuk-link govuk-link--no-visited-state">level of conformance</a> (A, AA, AAA)</li>
                        <li>date the issue was found</li>
                        <li>date the issue is to be fixed, or the fix date</li>
                        <li>whether the issue is open or closed</li>
                        <li>once remediated, details on the fix applied</li>
                    </ul>

                    <p>Once issues have been resolved, you will need to update the accessibility statement for your product or website to reflect these changes.</p>

                    <h2 class="govuk-heading-l" id="prioritise-issues">Prioritise issues</h2>

                    <p>Issues discovered from testing or audits need to be prioritised to ensure that the ones with the highest user impact are resolved first. </p>
                    <p>Issues raised as level A compliant are the highest priority. </p>
                    <p>They should be addressed immediately, as they potentially pose a high level of risk to the department, whilst also being a known blocker for users. </p>

                    <p>Your issues should be addressed using the following approach:</p>

                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th scope="col" class="govuk-table__header">Impact and effort</th>
                                <th scope="col" class="govuk-table__header">Priority</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">High impact, low effort</td>
                                <td class="govuk-table__cell">High</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">High impact, high effort</td>
                                <td class="govuk-table__cell">High / Medium</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Low impact, low effort</td>
                                <td class="govuk-table__cell">Medium</td>
                            </tr>
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">Low impact, high effort</td>
                                <td class="govuk-table__cell">Low</td>
                            </tr>
                        </tbody>
                    </table>

                    <p>In most circumstances, level A issues will create the biggest barriers for users, followed by AA, and then AAA, although this is not always the case. </p>

                    <p>It's important to understand the issue and the potential impact it could have on a user.</p>

                    <p>This includes understanding where in the user journey it occurs. Consider if the issue means that a user cannot continue to use the service, or if it's found across the service, or is an isolated issue.</p>

                    <p>For example: </p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>is it on a page that prevents access the service</li>
                        <li>is it an issue that occurs on every page</li>
                        <li>is it an issue that occurs on a specific page for specific functionality</li>
                    </ul>

                    <p>By understand the impact of the issue, you can prioritise it accordingly.</p>

                    <p>If you require further assistance in prioritising issues, <a href="/support" class="govuk-link govuk-link--no-visited-state">DesignOps</a> can help you.</p>

                    <h2 class="govuk-heading-l" id="remediate-issues">Remediate issues</h2>
                    <p>After you've prioritised any issues, you'll need to plan how to remediate them. Your approach to a fix will differ depending on the type of issue. </p>

                    <p>Some more technical issues will need to be raised with your developers to change the way that certain components have been implemented. Whereas issues that have arisen due to design decisions, will need to be passed back to the relevant designer to resolve. </p>

                    <p>Some issues may mean that certain parts of your product or website need redesigning. If you'd like input from an expert on good practice, <a href="/support" class="govuk-link govuk-link--no-visited-state">contact DesignOps</a> for support. </p>

                    <h3 class="govuk-heading-s" id="fix-issues-based-on-priority-order">Fix issues based on priority order</h3>

                    <p>Start with high priority, followed by medium, and then low.</p>
                    <p>Ensure that you update your issues and track them through to resolution. Include the fix method in your documentation. This will help when you pass your service back to your audit supplier to carry out a retest. </p>

                    <p>Contact your audit supplier as you progress with fixing issues, so you can arrange a date to retest. </p>

                    <h2 class="govuk-heading-l" id="update-your-accessibility-statement">Update your accessibility statement</h2>
                    <p>Following remediation of issues, you must update your accessibility statement.</p>
                    <p>Depending on the number of issues you started with, and have now fixed, the conformance level of your product or website may change.</p>

                    <p>You'll also need to close any issues that are now fixed and update your accessibility statement accordingly.</p>

                    <div class="govuk-warning-text">
                        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                        <strong class="govuk-warning-text__text">
                            <span class="govuk-visually-hidden">Warning</span>
   You must not mark issues as closed and remove them from your accessibility statement until you are confident they've been confirmed as resolved. This could be done by an accessibility expert within DfE, your audit supplier, or <a href="/support">DesignOps&nbsp;</a>.
  </strong>
                    </div>

                    <p>There are <a href="/audits-issues-statements/accessibility-statements/templates" class="govuk-link govuk-link--no-visited-state">accessibility statement templates</a> and guidance for how to meet the DfE DDT <a href="https://standards.education.gov.uk/standard/accessibility-statements" class="govuk-link govuk-link--no-visited-state">standard for the publication of accessibility statements</a>
                    </p>

                </div>
            </div>
        </div>
    </section>

{% endblock %}