{% extends "layouts/layout.html" %}
{% set serviceNav = "Tools and testing" %}
{% set title = "Accessibility Insights" %}
{% set path = "/tools-testing/tools/accessibility-insights" %}

{% block content %}
  <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-xl">Tools</span>
          <h1 class="govuk-heading-xl">Accessibility Insights</h1>
          <p class="govuk-body-l">Automated and guided manual accessibility checks based on WCAG.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="dfe-manual-section">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
       <div class="govuk-grid-column-one-third sticky">

                    {% include "tools-testing/tools/_nav.html" %}

                </div>
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l" id="use-to-test">Use to test</h2>
          <p class="govuk-body">Impairments this tool can test for:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/tools-testing/vision" class="govuk-link govuk-link--no-visited-state"> Vision</a>
            </li>
            <li> <a href="/tools-testing/cognitive" class="govuk-link govuk-link--no-visited-state">Cognitive</a></li>
            <li> <a href="/tools-testing/physical" class="govuk-link govuk-link--no-visited-state">Physical</a></li>
          </ul>
          <h2 class="govuk-heading-l" id="how-to-install">How to install</h2>
          <p class="govuk-body">Accessibility Insights is a browser extension.</p>
          <p class="govuk-body">Use the links to install:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li >
              <a href="https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni" class="govuk-link govuk-link--no-visited-state" target="_blank">Accessibility Insights for Chrome</a>
            </li>
            <li >
              <a href="https://microsoftedge.microsoft.com/addons/detail/ghbhpcookfemncgoinjblecnilppimih" target="_blank" class="govuk-link govuk-link--no-visited-state"> Accessibility Insights for Edge</a>
            </li>
          </ul>
          <p class="govuk-body">It's not available for Safari or Firefox.</p>
          <h2 class="govuk-heading-l" id="how-to-use">How to use</h2>
          <p>Once installed, you can launch the tool from your extensions bar. It will appear as a heart icon with a magnifying glass inside.</p>

          <p class="govuk-body">There are 4 options to choose from:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>FastPass: runs 3 automated tests to find common accessibility issues in less than 5 minutes</li>
            <li>Quick Assess: runs 10 assisted checks to find more accessibility issues in 30 minutes</li>
            <li>Assessment: walks through a guided process for assessing accessibility compliance</li>
            <li>Ad-hoc tools: provide quick access to visualisations that help identify accessibility issues</li>
          </ul>
          <p>These options provide guided tests and can act as a checklist to ensure you've tested and assured all parts of your product or website.</p>

          <h2 class="govuk-heading-l" id="what-results-could-look-like">What results could look like</h2>
          <h3 class="govuk-heading-m">Results for FastPass</h3>

          <p>Automated checks will run on your target page. The Accessibility Insights for Web page will open in a new browser window and the individual failures will be highlighted directly in the target page.</p>

          <p>This example shows the result of when automated checks have been run on a product or website.</p>

          <img src="/public/images/acc_ins.jpeg" alt="Automated checks from the fast pass tool showing 95 failed instances." class="screenshot govuk-!-margin-top-5 govuk-!-margin-bottom-5">
          <p>
            <a href="/public/images/acc_ins.jpeg" target="_blank" class="govuk-link govuk-link--no-visited-state">View larger image in a new tab</a>
          </p>
          <h3 class="govuk-heading-m">Quick Assess results</h3>

          <p>Use to check the top 10 WCAG 2.2 Level AA success criteria.</p>

          <p>There are 3 types of testing:</p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>Automated - identifies instances and evaluates them automatically</li>
            <li>Assisted - actively helps you identify or evaluate instances</li>
            <li>Manual - provides instructions for identifying and evaluating instances</li>
          </ul>

          <p>The example shows the results of 1 of 10 of manual checks on a product or website. Manual checks are ones you do yourself.</p>

          <img src="/public/images/acc_ins_qa.jpeg" alt="Quick access showing the 5 steps of how to carry out keyboard tests." class="screenshot govuk-!-margin-top-5 govuk-!-margin-bottom-5">
          <p>
            <a href="/public/images/acc_ins_qa.jpeg" target="_blank" class="govuk-link govuk-link--no-visited-state">View larger image in a new tab</a>
          </p>

          <h3 class="govuk-heading-m">Assessment results</h3>

          <p>An assessment is a comprehensive process that measures compliance with WCAG 2.2 Level AA success criteria. The assessment process includes 24 tests, and each test covers one or more accessibility requirements.</p>

          <p>There are 3 types of requirement:</p>

          <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
            <li>Automated - identifies instances and evaluates them automatically</li>
            <li>Assisted - actively helps you identify or evaluate instances</li>
            <li>Manual - provides instructions for identifying and evaluating instances</li>
          </ul>

          <p>Using the assessment tool, you can save your audit and review it later. You can also generate a report showing issues and tests completed.</p>

          <p>The example shows the summary of a full assessment and provides information about which checks passed, failed, or are yet to be done.</p>

          <img src="/public/images/acc_ins_full.jpeg" alt="The overview of the completed and outstanding tests carried out so far, 4% is completed with 96% remaining." class="screenshot govuk-!-margin-top-5 govuk-!-margin-bottom-5">
          <p>
            <a href="/public/images/acc_ins_full.jpeg" target="_blank" class="govuk-link govuk-link--no-visited-state">View larger image in a new tab</a>
          </p>

          <h3 class="govuk-heading-m">Ad-hoc tools results</h3>

          <p>From the toolbar icon, select Ad hoc tools to get quick access to visualisations that help you identify accessibility issues.</p>

          <p>This opens a window which lets you highlight headings, tab order, and names of interactive elements.</p>

          <p>The example shows a page in grayscale, the colour visualisation helps you identify instances where colour is the only visible means of conveying meaning.</p>

          <img src="/public/images/acc_ins_quick.png" alt="A greyscale image of the get into teaching home page, accessibility insights running in a tab which shows the colour test running." class="screenshot govuk-!-margin-top-5 govuk-!-margin-bottom-5">
          <p>
            <a href="/public/images/acc_ins_quick.png" target="_blank" class="govuk-link govuk-link--no-visited-state">View larger image in a new tab</a>
          </p>

          <h2 class="govuk-heading-l" id="what-to-do-next">What to do next</h2>

          <p>You need to check or verify that the accessibility issues the tool finds are issues, rather than <a href="/tools-testing/false-positives" class="govuk-link govuk-link--no-visited-state">false positives or false assurances</a>.</p>

          <p>If an issue is genuine, speak to your developer or design team to consider, then implement, a fix.</p>

          <p>You can read guidance for how to <a href="/audits-issues-statements/issues/manage-and-prioritise-issues" class="govuk-link govuk-link--no-visited-state">manage and prioritise issues</a>.</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}