{% extends "layouts/layout.html" %}
{% set serviceNav = "Tools and testing" %}
{% set title = "ARC Toolkit" %}
{% set path = "/tools-testing/tool/arc-toolkit" %}

{% block content %}
<section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Tools</span>
        <h1 class="govuk-heading-xl">ARC Toolkit</h1>
        <p class="govuk-body-l">Code-level accessibility testing tool with WCAG checks.</p>
      </div>
    </div>
  </div>
</section>
<section class="dfe-manual-section">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Use for testing</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Vision</li>
          <li>Cognitive</li>
        </ul>
        <h2 class="govuk-heading-m">How to use</h2>
        <p class="govuk-body">[Add guidance on how to use ARC Toolkit]</p>
        <h2 class="govuk-heading-m">When to use</h2>
        <p class="govuk-body">[Add guidance on when to use ARC Toolkit]</p>
      </div>
    </div>
  </div>
</section>
{% endblock %} 