{% extends "layouts/layout.html" %}
{% set serviceNav = "Tools and testing" %}
{% set title = "ARC Toolkit" %}
{% set path = "/tools-testing/tool/arc-toolkit" %}

{% block content %}
<section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Tools</span>
        <h1 class="govuk-heading-xl">ARC Toolkit</h1>
        <p class="govuk-body-l">Code-level accessibility testing tool with WCAG checks.</p>
      </div>
    </div>
  </div>
</section>
<section class="dfe-manual-section">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Use to test</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li> <a href="/tools-testing/vision" class="govuk-link govuk-link--no-visited-state">Vision</a></li>
          <li> <a href="/tools-testing/cognitive" class="govuk-link govuk-link--no-visited-state">Cognitive</a></li>
        </ul>
        <h2 class="govuk-heading-l">How to install</h2>
   <p class="govuk-body">ARC Toolkit is a browser extension.</p>

   <p class="govuk-body">Use the links to install:</p>

   <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-list__item">
         <a href="https://chromewebstore.google.com/detail/arc-toolkit/chdkkkccnlfncngelccgbgfmjebmkmce" target="_blank" class="govuk-link govuk-link--no-visited-state">ARC Toolkit for Chrome and Edge</a>
      </li>
      <li class="govuk-list__item">
         <a href="https://addons.mozilla.org/en-GB/firefox/addon/arc-toolkit/" target="_blank" class="govuk-link govuk-link--no-visited-state">ARC Toolkit for Firefox</a>
      </li>
   </ul>

   <p>ARC Toolkit is not available for Safari.</p>
        <h2 class="govuk-heading-l">How to use</h2>
   <p>Once installed, you can find the tool in dev tools in your browser.</p>

   <h3 class="govuk-heading-m">On a Mac</h3>

   <ol class="govuk-list govuk-list--number">
      <li>Open the page you want to test</li>
      <li>Select <code>Command + Option + I</code> to open dev tools</li>
   </ol>

   <h3 class="govuk-heading-m">On a Windows device</h3>

   <ol class="govuk-list govuk-list--number">
      <li>Open the page you want to test</li>
      <li>Select <code>F12</code> to open dev tools</li>

   </ol>

   <p>Select the ARC Toolkit option from the dev tools panel (you may need to select a + icon to see all tools)</p>

   <p>You can then select 'run tests' to start the automated accessibility checks.</p>
        <h2 class="govuk-heading-l">What results could look like</h2>
         <p>The example shows errors, alerts and best practice identified by the toolkit.  These are for you to consider in the context of your own product or website.</p>

   <p>Issues labelled best practice are not necessarily accessibility failures but are things you should investigate. This will improve the general user experience for people with disabilities.</p>
   <img src="/assets/images/arc-results.png" alt="Screenshot showing results of the ARC Toolkit. With a list of issues classified by errors, alerts and best practice." class="screenshot govuk-!-margin-top-5 govuk-!-margin-bottom-5"><p>
    <a href="/assets/images/arc-results.png" target="_blank" class="govuk-link govuk-link--no-visited-state">View larger image in a new tab</a>
   </p>
        <h2 class="govuk-heading-l">What to do next</h2>
    <p>You need to check or verify that the accessibility issues the tool finds are issues, rather than <a href="/tools-testing/false-positives" class="govuk-link govuk-link--no-visited-state">false positives or false assurances</a>.</p>

   <p>If an issue is genuine, speak to your developer or design team to consider, then implement, a fix.</p>

   <p>You can read guidance for how to <a href="audits-issues-statements/issues/manage-and-prioritise-issues">manage and prioritise issues</a>.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %} 