{% extends "layouts/layout.html" %}
{% set serviceNav = "Tools and testing" %}
{% set title = "axe DevTools" %}
{% set path = "/tools-testing/tools/axe-devtools" %}
{% set dateModified = "2025-07-09" %}
{% set description = "Axe DevTools is a browser extension for automated accessibility testing, helping you find and fix web accessibility issues quickly." %}
{% block content %}
<section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Tools</span>
        <h1 class="govuk-heading-xl">axe DevTools</h1>
        <p class="govuk-body-l">Browser extension for automated WCAG-based accessibility testing.</p>
      </div>
    </div>
  </div>
</section>
<section class="dfe-manual-section">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third sticky">

                    {% include "tools-testing/tools/_nav.html" %}

                </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l" id="use-to-test">Use to test</h2>
        <p class="govuk-body">Impairments this tool can test for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>      
            <a href="/tools-testing/vision" class="govuk-link govuk-link--no-visited-state">Vision</a>
          </li>
          <li>
            <a href="/tools-testing/cognitive" class="govuk-link govuk-link--no-visited-state">Cognitive</a>
          </li>
          <li>
            <a href="/tools-testing/physical" class="govuk-link govuk-link--no-visited-state">Physical</a>
          </li>
        </ul>
        <h2 class="govuk-heading-l">How to install</h2>
   <p class="govuk-body">axe DevTools is a browser extension.</p>

   <p class="govuk-body">Use the links to install:</p>

   <ul class="govuk-list govuk-list--bullet">
      <li class="govuk-list__item">
         <a href="https://chromewebstore.google.com/detail/axe-devtools-web-accessib/lhdoppojpmngadmnindnejefpokejbdd" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">axe DevTools for Chrome and Edge</a>
      </li>
      <li class="govuk-list__item">
         <a href="https://addons.mozilla.org/en-GB/firefox/addon/axe-devtools/" class="govuk-link govuk-link--no-visited-state" target="_blank" rel="noopener noreferrer">axe DevTools for Firefox</a>
      </li>
   </ul>

   <p class="govuk-body">It's not available for Safari.</p>
        <h2 class="govuk-heading-l">How to use</h2>
           <p class="govuk-body">Once installed, you can find the tool in dev tools in your browser.</p>

   <h3 class="govuk-heading-m">On a Mac</h3>

   <ol class="govuk-list govuk-list--number">
      <li>Open the page you want to test</li>
      <li>Select <code>Command + Option + I</code> to open dev tools</li>
   </ol>

   <h3 class="govuk-heading-m">On a Windows device</h3>

   <ol class="govuk-list govuk-list--number">
      <li>Open the page you want to test</li>
      <li>Select <code>F12</code> to open dev tools</li>

   </ol>

   <p class="govuk-body">Select the axe DevTools option from the dev tools panel (you may need to select a + icon to see all tools)</p>

   <p class="govuk-body">You can then select 'Full page scan' to start the automated accessibility checks.</p>
    
    <h2 class="govuk-heading-l">What results could look like</h2>
           <img src="/public/images/axe.png" alt="Screenshot showing results of the axe devtools Toolkit. With a list of issues classified by errors, alerts and best practice." class="screenshot govuk-!-margin-top-5 govuk-!-margin-bottom-5">
           <p class="govuk-body">
        <a href="/public/images/axe.png" target="_blank" rel="noopener noreferrer" class="govuk-link govuk-link--no-visited-state">View larger image in a new tab</a>
        </p>

    <p class="govuk-body">The toolkit shows any accessibility issues with your product or website. They will be labelled critical, serious, moderate or minor. </p>

    <p class="govuk-body">You should prioritise any that are labelled critical or serious.</p>

    <p class="govuk-body">These issues are for you to consider in the context of your own product or website.</p>

    <h2 class="govuk-heading-l">What to do next</h2>
    <p class="govuk-body">You need to check or verify that the accessibility issues the tool finds are issues, rather than <a href="/tools-testing/false-positives" class="govuk-link govuk-link--no-visited-state">false positives or false assurances</a>.</p>

   <p class="govuk-body">If an issue is genuine, speak to your developer or design team to consider, then implement, a fix.</p>

   <p class="govuk-body">You can read guidance for how to <a href="/audits-issues-statements/issues/manage-and-prioritise-issues" class="govuk-link govuk-link--no-visited-state">manage and prioritise issues</a>.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %} 