{% extends "layouts/layout.html" %}
{% set serviceNav = "Tools and testing" %}
{% set title = "Text spacing" %}
{% set path = "/tools-testing/tool/text-spacing" %}

{% block content %}
  <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-xl">Tools</span>
          <h1 class="govuk-heading-xl">Text spacing</h1>
          <p class="govuk-body-l">Tests increased spacing between letters, lines and paragraphs.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="dfe-manual-section">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Use to test</h2>
          <p class="govuk-body">Impairments this tool can test for:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/tools-testing/cognitive" class="govuk-link govuk-link--no-visited-state">Cognitive</a>
            </li>
          </ul>
          <h2 class="govuk-heading-l">How to use</h2>

          <p class="govuk-body">Drag the <a href="javascript:(function()%7B%0A%09document.querySelectorAll('*').forEach(function%20(el)%20%7B%0A%09%09if%20(el.nodeName.toLowerCase()%20%3D%3D%3D%20'p')%20%7B%0A%09%09%09el.style.setProperty('margin-bottom'%2C%20'2em'%2C%20'important')%3B%0A%09%09%7D%0A%09%09el.style.setProperty('line-height'%2C%20'1.5'%2C%20'important')%3B%0A%09%09el.style.setProperty('letter-spacing'%2C%20'0.12em'%2C%20'important')%3B%0A%09%09el.style.setProperty('word-spacing'%2C%20'0.16em'%2C%20'important')%3B%0A%09%7D)%0A%7D)()%3B" class="govuk-link govuk-link--no-visited-state">text spacing</a> link to your bookmark bar to install the tool.</p>

          <p class="govuk-body">Once the tool is installed, visit a webpage and select the tool in your bookmark bar.</p>

          <h3 class="govuk-heading-m">Meeting WCAG criterion </h3>

          <p class="govuk-body">
            <a href="/guidelines/wcag/explorer/criteria//wcag/criteria/perceivable#1-4-12" class="govuk-link govuk-link--no-visited-state">Text spacing is a Level AA WCAG criteria</a>. The criteria stipulates that when increasing text spacing, there is no loss of content or functionality. </p>
          <p class="govuk-body">The following settings must be able to be set and users should lose no access to content:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>line height (line spacing) to at least 1.5 times the font size</li>
            <li>spacing following paragraphs to at least 2 times the font size</li>
            <li>letter spacing (tracking) to at least 0.12 times the font size</li>
            <li>word spacing to at least 0.16 times the font size</li>
          </ul>

          <p class="govuk-body">These settings can make content on the screen much easier to read for some users.</p>

          <p class="govuk-body">Some people with dyslexia and other cognitive disabilities often find it easier to read and understand content that has been given spacing.</p>

          <h2 class="govuk-heading-l">Example of using text spacing</h2>

          <p class="govuk-body">Below is an example of the bookmarklet being used on <a href="https://getintoteaching.education.gov.uk/" class="govuk-link govuk-link--no-visited-state">Get into Teaching</a>.</p>

          <h3 class="govuk-heading-m">Before</h3>

          <img src="/public/images/text-spacing-before.png" alt="Screenshot of get into teaching service showing a navigation bar with the links, Is teaching right for me? and How to become a teacher" class="screenshot govuk-!-margin-top-5 govuk-!-margin-bottom-5">
          <p class="govuk-body">
            <a href="/public/images/text-spacing-before.png" target="_blank" rel="noopener noreferrer" class="govuk-link govuk-link--no-visited-state">View larger image in a new tab</a>
          </p>

          <h3 class="govuk-heading-m">After</h3>

          <img src="/public/images/text-spacing-after.png" alt="Screenshot of get into teaching service showing a navigation bar with the links, Is teaching right for me? and How to become a teacher with a green circle on the links." class="screenshot govuk-!-margin-top-5 govuk-!-margin-bottom-5">
          <p class="govuk-body">
            <a href="/public/images/text-spacing-after.png" target="_blank" rel="noopener noreferrer" class="govuk-link govuk-link--no-visited-state">View larger image in a new tab</a>
          </p>

          <h3 class="govuk-heading-m">Fixing text spacing issues</h3>

          <p class="govuk-body">Sometimes when text spacing properties are applied to a webpage content can become lost or functionality can be lost.</p>
          <p class="govuk-body">For example, if placeholder text has been used within a form, this can often become lost or obscured due to the increased text space.</p>

          <p class="govuk-body">To fix this, always use a visible label rather than placeholder text.</p>

          <p class="govuk-body">Another example is when text spacing is applied and text containers do not expand with the content, which means that text overflows the container.</p>

          <p class="govuk-body">This can be because the height of the div containing the text is set using pixels (px), so it does not expand with the content. Setting div height in relation to font height using 'em,' or not setting div height at all, would prevent the text from overflowing the div.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}