{% extends "layouts/layout.html" %}

{% set serviceNav = "Tools and testing" %}
{% set path = "/tools-testing/false-positives" %}
{% set title = "False positives" %}
{% set description = "Guidance on how to deal with false positives and false assurances" %}

{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Tools and testing</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section dfe-manual-section-header--white">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third sticky">
                    {% include "tools-testing/_nav.html" %}
                </div>
                <div class="govuk-grid-column-two-thirds">

                    <p class="govuk-body">When using <a href="/tools-testing/tools" class="govuk-link govuk-link--no-visited-state">accessibility testing tools</a>, it's important to validate the results to avoid identifying false positives and ensure that no issues have been missed, thereby preventing false assurances.</p>

                    <h2 class="govuk-heading-l" id="understanding-false-positives">Understand false positives</h2>

                    <p class="govuk-body">False positives are issues that are flagged by testing tools, but are not actually issues when reviewed manually.</p>

                    <p>Accessibility tools do not understand context, for example:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>they will not understand the content of an image</li>
                        <li>the words in a link being descriptive or generic</li>
                        <li>the content and context of an error message</li>
                    </ul>

                    <div class="govuk-inset-text">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">Contrast in images</span><br/><br/>Checks may raise issues related to <a href="https://www.w3.org/WAI/WCAG21/Understanding/contrast-minimum.html" rel="noopener noreferrer" target="_blank">contrast minimum <span class="govuk-visually-hidden">(opens in new tab)</span></a> even for content that is exempt, such as logos and branding.
                    </p>
                    </div>

                    <p>Logos, which might not always have sufficiently contrasting foreground and background colours are not required to meet these criteria. Therefore, this is considered a false positive.</p>

                    <h2 class="govuk-heading-l" id="understand-false-assurance">Understand false assurance</h2>

                    <p class="govuk-body">Accessibility testing tools can also give a false sense of compliance, this is not only because tools only identify around 30% to 40% of issues, but also because of how the tools scan code to decide if accessibility issues are present.</p>

                    <div class="govuk-inset-text">
                        <p class="govuk-body">
                            <span class="govuk-!-font-weight-bold">For example</span><br/><br/>When scanning images for alt text, testing tools are looking for a yes, or no answer, to whether the image has alt text or not.
                    </p>
                    </div>

                    <p class="govuk-body">This can provide false assurance because if an image contains alt text it would pass this test, but the alt text may not be descriptive. </p>

                    <p>There is an exception to when alt text can be omitted, such as when an image is purely decorative and does not add context to the page.</p>
                    <p>In this case, add an empty alt tag, as follows <code>alt=""</code>.</p>


         <h3 class="govuk-heading-m">If you're unsure whether to use alt text</h3>
      
         <p>Use an <a href="https://www.w3.org/WAI/tutorials/images/decision-tree/"
                    rel="noopener noreferrer" target="_blank">alt decision tree <span class="govuk-visually-hidden">link opens in a new tab</span></a> to check if you need to use alt text.
            </p>
      
   <h3 class="govuk-heading-m">Example of false assurance using alt text</h3>

   <p class="govuk-body">If an image of a classroom had an alt tag of <code>alt=”car”</code> or <code>alt=”image123”</code>, this would still pass the automated test, whereas it should fail because of the lack of context that this provides to users. </p>

   <div class="govuk-grid-row dfe-flex">
      <div class="govuk-grid-column-one-half dfe-flex-item">
         <div class="dfe-panel-do">
            <h3 class="govuk-heading-m">Do</h3>
            <p class="govuk-!-margin-bottom-5">Ensure alt text accurately describes the image.</p>
            <img src="/assets/images/classroom.jpg" style="width:100%;"
                                    class="govuk-!-margin-bottom-5" alt="A teacher standing in front of a class of children who are sitting at desks.">
            <code  style="background: #ffffff; padding: 10px;"> alt="A teacher standing in front of a class of children who are sitting at desks."</code>
         </div>
      </div>
      <div class="govuk-grid-column-one-half dfe-flex-item">
         <div class="dfe-panel-dont">
            <h3 class="govuk-heading-m">Don't</h3>
            <p class="govuk-!-margin-bottom-5">Do not use the filename or misleading descriptions. </p>
            <img src="/assets/images/classroom.jpg" style="width:100%;"
                                    class="govuk-!-margin-bottom-5" alt="">
            <code style="background: #ffffff; padding: 10px;"> alt="image123"</code>
         </div>
      </div>
   </div>

            </div>
        </div>
    </section>

{% endblock %}