<nav class="dfe-vertical-nav sticky" aria-labelledby="vertical-nav-heading">
  <h2 class="govuk-heading-s govuk-visually-hidden" id="vertical-nav-heading">
    Pages in this section
  </h2>

  <a href="/audits-issues-statements/issues/common-issues" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to common issues</a>

  
  <ul class="dfe-vertical-nav__section">
   
    <li class="dfe-vertical-nav__section-item{% if path == '/audits-issues-statements/issues/common-issues/error-messages' %} dfe-vertical-nav__section-item--current{% endif %}">
      <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/common-issues/error-messages">Error messages</a>
      <ul class="dfe-vertical-nav__section dfe-vertical-nav__section--nested" style="display: {% if path == '/audits-issues-statements/issues/common-issues/error-messages' %}block{% else %}none{% endif %}">
        <li class="dfe-vertical-nav__section-item">
          <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/common-issues/error-messages#non-descriptive-error-messages">Non-descriptive error messages</a>
            </li>
            <li class="dfe-vertical-nav__section-item">
              <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/common-issues/error-messages#server-or-database-errors">Server or database errors</a>
            </li>
            <li class="dfe-vertical-nav__section-item">
              <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/common-issues/error-messages#error-summaries">Error summaries</a>
            </li>
            <li class="dfe-vertical-nav__section-item">
              <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/common-issues/error-messages#mismatched-error-messages">Mismatched error messages</a> 
            </li>
            <li class="dfe-vertical-nav__section-item">
      </ul>
    </li>
      
    <li class="dfe-vertical-nav__section-item{% if path == '/audits-issues-statements/issues/common-issues/alt-text' %} dfe-vertical-nav__section-item--current{% endif %}">
      <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/common-issues/alt-text">Images, charts, and alt text</a>
      <ul class="dfe-vertical-nav__section dfe-vertical-nav__section--nested" style="display: {% if path == '/audits-issues-statements/issues/common-issues/alt-text' %}block{% else %}none{% endif %}">
        <li class="dfe-vertical-nav__section-item">
          <a class="dfe-vertical-nav__link" href="/audits-issues-statements/issues/manage-and-prioritise-issues#who-is-involved">Who's involved</a>
        </li>
      </ul>
    </li>
    
  </ul>
</nav>
