{% extends "layouts/layout.html" %}

{% set serviceNav = "Audits" %}
{% set path = "/audits-issues-statements/issues/common-issues/error-messages" %}
{% set title = "Error messages" %}
{% set description = "" %}

{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Common issues</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section dfe-manual-section-header--white">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third sticky">

                    {% include "audits-issues-statements/issues/common-issues/_nav.html" %}

                </div>
                <div class="govuk-grid-column-two-thirds">

                    <p class="govuk-body">Error messages should help users understand what went wrong, where the problem is, and how to fix it.</p>

                    <p class="govuk-body">This is especially important for people with disabilities. Clear and helpful error messages are particularly useful for people with cognitive disabilities and those who are neurodivergent.</p>

                    <h2 class="govuk-heading-l" id="non-descriptive-error-messages">Non-descriptive error messages</h2>

                    <p class="govuk-body">When a user makes a mistake, it's important to provide them with a clear and concise error message that explains what the problem is and how to fix it. This will help users to understand what they need to do to correct the error and continue with their task.</p>

                </div>
            </div>
        </div>
    </section>

{% endblock %}