{% extends "layouts/layout.html" %}

{% set serviceNav = "Professions" %}
{% set path = "/professions/content-designers" %}
{% set title = "Content designers" %}
{% set description = "What content designers should do to ensure accessibility is considered in the design of content." %}




{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Professions</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section dfe-manual-section-header--white">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third sticky">

            
                    {% include "professions/_nav.html" %}

                </div>
                <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">As a content designer you'll make DfE products and websites easier to understand.</p>

                    <p class="govuk-body">Well structured, clear content helps time-poor and already busy people, such as school business professionals, social workers and nursery managers navigate and use our services. </p>
                    <p class="govuk-body">As a starting point, you should follow the <a href="https://www.gov.uk/guidance/guidance-and-tools-for-digital-accessibility#designing-accessible-services" class="govuk-link govuk-link--no-visited-state">GOV.UK guidance to design accessible services</a>.</p>

                    <section class="govuk-!-padding-top-3 govuk-!-padding-bottom-7" data-stage="discovery">
                        <div class="govuk-width-container">
                         <h2 class="govuk-heading-l">Guidance by phase</h2>
                            <h3 class="govuk-heading-m" id="discovery">In discovery</h3>
                            <p class="govuk-body">You should:</p>
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2 govuk-!-margin-top-2 profession-list">
                                <li>start to plan for a content strategy that focuses on user needs and policy intent. Make accessibility an integral part of the process, to ensure it's always included</li>
                                <li>review guidance for how to meet <a href="https://apply-the-service-standard.education.gov.uk/service-standard/5-make-sure-everyone-can-use-the-service" class="govuk-link govuk-link--no-visited-state">Service Standard 5</a></li>
                            </ul>
                        </div>
                    </section>
                     
                    <section class="govuk-!-padding-top-3 govuk-!-padding-bottom-7" data-stage="alpha">
                        <div class="govuk-width-container">
                            <h3 class="govuk-heading-m" id="alpha">In alpha</h3>
                            <p class="govuk-body">You should:</p>
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2 govuk-!-margin-top-2 profession-list">
                                <li>explore any offline user journeys and whether there is a phone number or email address for service support</li>
                                <li>review the <a href="/guidelines/universal-design" class="govuk-link govuk-link--no-visited-state">universal design principles</a> to help you design in an inclusive way
                                </li>
                                <li>consider how disability, age, gender and culture might impact the service, you could <a href="https://personas-prototype.herokuapp.com/" class="govuk-link govuk-link--no-visited-state">use HMRC's accessibility personas</a>
                                </li>
                                <li>write content in <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#plain-english" class="govuk-link govuk-link--no-visited-state">plain English</a> and share the <a href="https://standards.education.gov.uk/standard/plain-language" class="govuk-link govuk-link--no-visited-state">Plain Language standard</a> to support your work</li>
                                <li>test different ways to deliver content, to make sure people can perceive content in multiple ways</li>
                                <li> <a href="https://design.education.gov.uk/content-design/quality-and-assurance" class="govuk-link govuk-link--no-visited-state">organise content crits</a> to assure your content, the more content is reviewed, the higher chance to identify accessibility issues</li>
                                <li>consider how the service fits with wider DfE services for consistency</li>  
                                <li>design and test content with users, including those with access needs</li>
                                <li>start <a href="/tools-testing" class="govuk-link govuk-link--no-visited-state">accessibility testing</a>within your team</li> 
                            </ul>
                        </div>
                    </section>
                     
                        <section class="govuk-!-padding-top-3 govuk-!-padding-bottom-7" data-stage="beta">
                        <div class="govuk-width-container">
                            <h3 class="govuk-heading-m" id="beta">In beta</h3>
                            <p class="govuk-body">You should:</p>
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2 govuk-!-margin-top-2 profession-list">
                                <li>continue to test with users with access needs</li>
                                <li>consider any non-digital or offline processes and their impact or relation to the service</li>
                                <li><a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#make-your-title-unique" class="govuk-link govuk-link--no-visited-state">make page title unique</a> and clear</li>
                                <li><a href="https://www.gov.uk/service-manual/design/writing-for-user-interfaces#urls" class="govuk-link govuk-link--no-visited-state">check URLs</a> are clear and readable
                                <li>help your team with the wording of the <a href="audits-statements/accessibility-statements" class="govuk-link govuk-link--no-visited-state">accessibility statement</a></li>
                                </li>
                            </ul>
                        </div>
                    </section>

                        <section class="govuk-!-padding-top-3 govuk-!-padding-bottom-7" data-stage="live">
                        <div class="govuk-width-container">
                            <h3 class="govuk-heading-m" id="live">In live</h3>
                            <p class="govuk-body">You should:</p>
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2 govuk-!-margin-top-2 profession-list">
                                <li>continue to iterate your service based on insights from user research</li>
                                <li>test changes to make sure they meet accessibility requirements</li>
                                <li>monitor and consider offline processes and their impact or relationship to the journey</li>
                                </li>
                            </ul>
                        </div>
                    </section>
                   


                    </div>
                </div>
            </div>
        </section>

  
    </section>

{% endblock %}