{% extends "layouts/layout.html" %}

{% set serviceNav = "Professions" %}
{% set path = "/professions/content-designers" %}
{% set title = "Content designers" %}
{% set description = "How content designers ensure accessibility is considered in each phase of service delivery." %}
{% set dateModified = "2025-07-09" %}



{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Professions</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section dfe-manual-section-header--white">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third sticky">

            
                    {% include "professions/_nav.html" %}

                </div>
                <div class="govuk-grid-column-two-thirds">
                <p class="govuk-body">Content designers make DfE products and websites accessible, inclusive and easier to understand.</p>

                <p class="govuk-body">Well structured, clear content helps everyone to use our services.</p>
                
                <p class="govuk-body">Our users include:<p>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2 govuk-!-margin-top-2 profession-list">
                <li>school business professionals</li>
                <li>social workers</li>
                <li>parents and carers</li> 
                <li>teachers</li>
                <li>pupils and students</li>
                </ul>
        <br>
                <p class="govuk-body"><a href="https://www.gov.uk/guidance/guidance-and-tools-for-digital-accessibility#designing-accessible-services" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">Follow GOV.UK guidance to design accessible services</a>, as a starting point.</p>

                    <section class="govuk-!-padding-top-3 govuk-!-padding-bottom-7" data-stage="discovery">
                        <div class="govuk-width-container">

                            <h2 class="govuk-heading-l" id="discovery">In discovery</h2>
                            <p class="govuk-body">You should:</p>
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2 govuk-!-margin-top-2 profession-list">
                                <li>start to plan a <a href="https://design.education.gov.uk/content-design/content-strategies" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">content strategy</a> that focuses on user needs and policy intent</li>
                                <li>make accessibility an integral part of the strategy, for example, research user language, and how you will make content clear</li>
                                <li>review guidance for <a href="https://apply-the-service-standard.education.gov.uk/service-standard/5-make-sure-everyone-can-use-the-service" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">Service Standard 5: Make sure everyone can use the service</a></li>
                            </ul>
                        </div>
                    </section>
                     
                    <section class="govuk-!-padding-top-3 govuk-!-padding-bottom-7" data-stage="alpha">
                        <div class="govuk-width-container">
                            <h2 class="govuk-heading-l" id="alpha">In alpha</h2>
                            <p class="govuk-body">You should:</p>
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2 govuk-!-margin-top-2 profession-list">
                                <li>explore any offline user journeys and whether there is a phone number or email address for service support</li>
                                <li>try to understand how this may be part of a wider journey that may involve content from other organisations, or users may use other products, as part of the journey</li>
                                <li>design in an inclusive way, using the <a href="/guidelines/universal-design" class="govuk-link govuk-link--no-visited-state">universal design principles</a> 
                                </li>
                                <li>consider how disability, age, gender and culture might impact the service - you could <a href="https://personas-prototype.herokuapp.com/" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">use HMRC's accessibility personas</a>
                                </li>
                                <li>use the <a href="/tools/how-many-people" class="govuk-link govuk-link--no-visited-state">How many people tool</a> and share data with stakeholders </li>
                                <li>share the <a href="https://standards.education.gov.uk/standard/plain-language" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">Plain Language standard</a> with stakeholders, if necessary, to support your work</li>
                                <li>write content in <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#plain-english" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">plain English</a></li>
                                <li>use the language of your users</li>
                                <li>test different ways to deliver content, for example, <a href="/tools-testing/tools/screen-readers" class="govuk-link govuk-link--no-visited-state" >use a screen reader</a> to make sure people can perceive content in multiple ways</li>
                                <li> <a href="https://design.education.gov.uk/content-design/quality-and-assurance" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">organise content crits</a> to get feedback - the more content is reviewed, the more opportunities to identify accessibility issues</li>
                                <li>consider how the service fits with wider DfE services for a consistent user experiences across services</li> 
                                <li>test the <a href="https://design.education.gov.uk/content-design/naming-service" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer"> name of your service</a> to ensure it reflects what the service does and uses user language </li>

                            </ul>
                        </div>
                    </section>
                     
                        <section class="govuk-!-padding-top-3 govuk-!-padding-bottom-7" data-stage="beta">
                        <div class="govuk-width-container">
                            <h2 class="govuk-heading-l" id="beta">In beta</h2>
                            <p class="govuk-body">You should:</p>
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2 govuk-!-margin-top-2 profession-list">
                            
                                <li>continue to test content to check it's accessible and inclusive</li>
                                <li>continue to test with users with access needs</li>
                                <li>ensure any non-digital documentation is accessible, for example, printed letters</li>
                                <li>make sure page titles and headings are <a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#make-your-title-unique" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">unique and make sense</a></li>
                                <li><a href="https://www.gov.uk/service-manual/design/writing-for-user-interfaces#urls" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">check URLs</a> are clear and readable</li>
                                <li>write descriptive, unique text for <a href="https://design-system.service.gov.uk/styles/links/" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">links</a></li>
                                <li><a href="https://www.gov.uk/guidance/content-design/writing-for-gov-uk#headings" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">ensure headings </a>follow the correct structure</li>
                                <li>consider whether visuals, for example <a href="https://design.education.gov.uk/design-system/patterns/charts" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">diagrams and images</a>, need text or an alternative version on the same page</li>
                                <li>write descriptive and understandable <a href="https://design-system.service.gov.uk/components/error-message/" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer"> error messages</a></li>
                                <li>review the accessibility audit with your team and action any content-related issues</li>
                                <li>help your team create an accessibility statement, using the <a href="/audits-issues-statements/accessibility-statements/templates" class="govuk-link govuk-link--no-visited-state">relevant statements template</a></li>
                                </li>
                            </ul>
                        </div>
                    </section>

                        <section class="govuk-!-padding-top-3 govuk-!-padding-bottom-7" data-stage="live">
                        <div class="govuk-width-container">
                            <h2 class="govuk-heading-l" id="live">In live</h2>
                            <p class="govuk-body">You should:</p>
                            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-2 govuk-!-margin-top-2 profession-list">
                                <li>continue to iterate your service based on research and data insights</li>
                                <li>test content changes to make sure they meet accessibility requirements</li>
                                <li>monitor and consider offline processes and their impact or relationship to the journey</li>
                                <li>when content-related issues are fixed, ensure the <a href="/audits-issues-statements/issues/manage-and-prioritise-issues#update-your-accessibility-statement" class="govuk-link govuk-link--no-visited-state">accessibility statement is updated</a></li>
                                </li>
                            </ul>
                        </div>
                    </section>
                   
                   <p class="govuk-body">This content was pair written with the DfE content design community.</p>


                    </div>
                </div>
            </div>
        </section>

  
    </section>

{% endblock %}