{% extends "layouts/layout.html" %}

{% set serviceNav = "Professions" %}
{% set path = "/professions" %}
{% set title = "Professions" %}
{% set description = "What to do in each phase of delivery to ensure DfE products and websites are accessible and inclusive" %}

{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Guidance for professions</h2>
                    <p class="govuk-body">Accessibility is everyone's responsibility. This guidance will help you understand what each job role should consider with regards to accessibility.</p>
                    <p class="govuk-body">We're currently working on guidance for other common digital roles.</p>
                    
                    <p class="govuk-body">All content is pair written with DfE communities. </a>
                </div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">

                   <div class="dfe-grid-container govuk-!-margin-top-2">
                         <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-s">
                                    <a href="/professions/content-designers" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Content designers</a>
                                </h3>
                                <p class="govuk-body">Content designers need to ensure that content is accessible and inclusive and meets plain language standards.</p>
                            </div>
                        </div>

                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-s">
                                    <a href="/professions/product-managers" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Product managers</a>
                                </h3>
                                <p class="govuk-body">Product managers need to ensure that accessibility is considered throughout the product lifecycle.</p>
                            </div>
                        </div>
                       
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}