{% extends "layouts/layout.html" %}

{% set serviceNav = "Principles" %}
{% set path = "/principles" %}
{% set title = "Principles" %}
{% set description = "The principles of universal design, cognitive accessibility, and inclusive design all contribute to making products and services more accessible." %}

{% set mainClasses = 'govuk-!-padding-top-0 govuk-!-padding-bottom-0' %}

{% block content %}

    <section style="background-color:#F3FAFE;" class="govuk-!-padding-top-7 govuk-!-padding-bottom-4">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>

                </div>
            </div>
        </div>
    </section>

    <section class="govuk-!-padding-top-7 govuk-!-padding-bottom-7">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l" id="legislation">Understanding WCAG</h2>
                    <div class="dfe-grid-container">
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-m">
                                    <a href="/wcag-explorer/what-wcag-is" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">What WCAG is</a>
                                </h3>
                                <p class="govuk-body">Understand what WCAG is and how it is used to make web content more accessible.</p>
                            </div>
                        </div>
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-m">
                                    <a href="/wcag-explorer/levels" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Understanding the levels of conformance</a>
                                </h3>
                                <p class="govuk-body">Understand what Level A, AA, and AAA conformance means and what you must comply with.</p>
                            </div>
                        </div>
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-m">
                                    <a href="/wcag-explorer/compliance" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Levels of compliance</a>
                                </h3>
                                <p class="govuk-body">What the different levels of compliance are and what you need to do if you are not fully compliant.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="govuk-!-padding-top-7 govuk-!-padding-bottom-7">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l" id="legislation">Other resources</h2>
                </div>
                <div class="govuk-grid-column-one-half">
                    <p class="govuk-body">Wider resources to help you understand good design and accessibility principles.</p>
                </div>
                <div class="govuk-grid-column-one-half">
                    <ul class="govuk-list govuk-list--spaced resource-links">

                        <li>
                            <a href="https://lawsofux.com/" target="_blank" rel="noopener noreferrer" class="govuk-link govuk-link--no-visited-state">Laws of UX</a>
                        </li>
                        <li>
                            <a href="https://www.interaction-design.org/literature/article/dieter-rams-10-timeless-commandments-for-good-design?" target="_blank" rel="noopener noreferrer" class="govuk-link govuk-link--no-visited-state">Dieter Rams' 10 commandments for good design</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

    {% endblock %}