{% extends "layouts/layout.html" %}

{% set serviceNav = "Tools and testing" %}
{% set path = "/tools-testing/vision" %}
{% set title = "Vision" %}
{% set description = "Tools and techniques to help you test for visual impairments" %}
{% set dateModified = "2025-07-09" %}
{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Tools and testing</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section dfe-manual-section-header--white">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third sticky">
                    {% include "tools-testing/_nav.html" %}
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">
                        Visual impairments affect how people perceive and interact with digital content.</p>
                        
                        <p class="govuk-body">Common conditions include:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>low vision (visual impairment that is not fully correctable)</li>
                        <li>blindness (inability to see or lack of vision)</li>
                        <li>eye conditions (cataracts or glaucoma)</li>
                        <li>colour blindness (difficulty distinguishing certain colours)</li>
                        <li>migraine</li>
                    </ul>

                    <h3 class="govuk-heading-m">Challenges for people with visual impairments</h3>
                    <p class="govuk-body">Visual impairments can make it difficult to:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>reading small or low-contrast text</li>
                        <li>distinguishing information conveyed by colour alone</li>
                        <li>navigating with keyboard or screen reader</li>
                        <li>reading text when zoomed or magnified</li>
                    </ul>

                    <h2 class="govuk-heading-l" id="testing-tools">Testing tools to identify barriers</h2>
                    
                    <h3 class="govuk-heading-m" id="automated-tools">Run automated tests</h3>
                    <p class="govuk-body">Start by using automated tools to identify accessibility issues, including visual impairments. Automated tools work best when used collectively, so you should use all 3 together.</p>
                     <p class="govuk-body">You could install and use:</p>
                     <ul class="govuk-list govuk-list--bullet">
                        <li><a href="/tools-testing/tools/axe-devtools" class="govuk-link">axe DevTools</a></li>
                        <li><a href="/tools-testing/tools/wave-evaluation" class="govuk-link">WAVE</a></li>
                        <li><a href="/tools-testing/tools/arc-toolkit" class="govuk-link">ARC Toolkit</a></li>
                     </ul>

                    <h3 class="govuk-heading-m" id="manual-tests">Run manual tests</h3>
                    <p class="govuk-body">After automated tests, you should do manual tests. They can identify more accessibility problems and let you see how your product or website works for people with different visual impairments.</p>
                    <p class="govuk-body">You could use:</p>
                     <ul class="govuk-list govuk-list--bullet">
                        <li><a href="/tools-testing/tools/contrast-checker" class="govuk-link">Contrast Checker</a></li>
                        <li><a href="/tools-testing/tools/resize-text" class="govuk-link">resize text</a></li>
                     </ul>
                    <h3 class="govuk-heading-m" id="screen-readers">Run screen reader tests</h3>
                    <p class="govuk-body">You should also test with a <a href="/tools-testing/tools/screen-readers" class="govuk-link">screen reader</a>, to understand how people who use one might navigate your product or website.</p>
                    
                    <h2 class="govuk-heading-l" id="personas">Test with personas</h2>
                    <p class="govuk-body">
                        You could use <a href="https://personas-prototype.herokuapp.com/" class="govuk-link">HMRC's accessibility personas</a>. They're a good starting point to understand user needs of people with disabilities.
                    </p>

                    <div class="govuk-card govuk-!-margin-bottom-6">
                        <div class="govuk-card__content">
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Claudia</h3>
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">
                                Partially sighted magnifier user
                            </p>
                            <div class="govuk-body govuk-!-margin-bottom-4">
                                <p class="govuk-!-margin-bottom-2">Claudia uses screen magnification software to read content. She needs:</p>
                                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                                    <li>high contrast and clear text</li>
                                    <li>keyboard navigation support</li>
                                    <li>occasional screen reader use</li>
                                </ul>
                            </div>
                            <p class="govuk-body govuk-!-margin-bottom-0">
                                <a href="https://personas-prototype.herokuapp.com/claudia/" class="govuk-link govuk-link--no-visited-state">
                                    View Claudia's profile and task
                                    <span class="govuk-visually-hidden"> - Partially sighted magnifier user</span>
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="govuk-card">
                        <div class="govuk-card__content">
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Ashleigh</h3>
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">
                                Severely visually impaired screen reader user
                            </p>
                            <div class="govuk-body govuk-!-margin-bottom-4">
                                <p class="govuk-!-margin-bottom-2">Ashleigh relies on screen readers full-time. She needs:</p>
                                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                                    <li>clear page structure</li>
                                    <li>keyboard navigation</li>
                                    <li>meaningful alt text</li>
                                </ul>
                            </div>
                            <p class="govuk-body govuk-!-margin-bottom-0">
                                <a href="https://personas-prototype.herokuapp.com/ashleigh/" class="govuk-link govuk-link--no-visited-state">
                                    View Ashleigh's profile and task 
                                    <span class="govuk-visually-hidden"> - Screen reader user</span>
                                </a>
                            </p>
                        </div>
                    </div>

                    
                  
                     

                  
                </div>
            </div>
        </div>
    </section>

{% endblock %}