{% extends "layouts/full-nohero.html" %}

{% set selectedNav = "Training" %}
{% set pageName = "Keep learning" %}
{% set path = "/training/accessibility-inclusion/end" %}
{% set dateModified = "2025-07-09" %}{% set pageDescription = ""%}
{% set mainClasses = "govuk-!-padding-bottom-9" %}
{% set description = "Accessibility & Inclusion training: Keep learning about accessibility and inclusive design with these resources and communities." %}

{% block hero %}

    <div class="govuk-width-container">
        <a href="/training/accessibility-inclusion/page-" class="govuk-back-link">Back</a>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl govuk-!-font-size-48">{{pageName}}</h1>
                        <p class="govuk-body-l">You'll learn more about accessibility and inclusive design, the more you practice it in your day-to-day work.</p>
                        <p class="govuk-body-l">Here are some ways to keep learning:</p>
                        <ul class="govuk-list govuk-list--bullet govuk-body-l govuk-list--spaced">
                            <li>talk to your users and really understand how they use your content</li>
                            <li>get involved or observe user research, even if you're not in a digital delivery team</li>
                            <li>visit the <a href="https://educationgovuk.sharepoint.com/sites/lvewp00043/SitePages/Experience-Lab.aspx" target="_blank">Experience Lab in Sheffield (opens in new tab)</a>
                            </li>
                            <li>check back regularly for new training and resources </li>
                            <li>join the <a href="https://ukgovernmentdfe.slack.com/archives/CADP1R39Q" target="_blank">accessibility community on Slack (opens in new tab)</a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-!-margin-top-6">
            <a href="/training/accessibility-inclusion/page-19"
                    class="govuk-button govuk-button--grey govuk-!-margin-right-2"
                    role="button">Previous</a>
            <a href="/training/accessibility-inclusion/page-21"
                    class="govuk-button" role="button">Next</a>
        </p>
    </p>
</div>

{% endblock %}