

{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion" %}
{% set title = "Introduction to the basics of accessibility and inclusive design" %}
{% set description = "Guidelines to help you understand the standards and principles of accessibility and inclusive design." %}
{% set dateModified = "2025-07-09" %}
{% set aka = "101,basic training" %}




{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h1 class="govuk-heading-xl  govuk-!-margin-top-9">{{title}}</h1>
                        <p class="govuk-body-l">Over the next 10 minutes, learn about what accessibility and inclusive design means.</p>

                        <p class="govuk-body-l">You don't need any prior knowledge of either topic, and there are 10 questions at the end to help you check your understanding.</p>
                    </div>

                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <p class="govuk-!-margin-top-6">
                    <a href="/training/accessibility-inclusion/page-1" class="govuk-button"
                    role="button">Start</a>
                </p>
            </div>
        </div>

    {% endblock %}