{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion/page-10" %}
{% set dateModified = "2025-07-09" %}{% set title = "Situational disabilities" %}
{% set description = "Accessibility & Inclusion training: Learn about user needs and barriers in digital accessibility (page 10)." %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <a href="/training/accessibility-inclusion/page-9" class="govuk-back-link">Back</a>
                        <h1 class="govuk-heading-xl">{{title}}</h1>

                        <p class="govuk-body-l">Situational impairments are caused by environmental factors or specific
                        situations that affect an individual's abilities. </p>

                        <p class="govuk-body-l">Examples of situational disabilities include people holding a baby, wearing headphones or have glare affecting the screen on their device.</p>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="grid-5-container">
                            <div class="grid-item">
                                <img src="/assets/images/sun.png" class="img-fixed-height govuk-!-margin-bottom-5"
                                alt="Line drawing of a person holding a device with the sun shining off the screen">
                                <p>Sun or glare</p>
                            </div>
                            <div class="grid-item">
                                <img src="/assets/images/headphones.png" class="img-fixed-height"
                                class="govuk-!-margin-bottom-5"
                                alt="Line drawing of a person wearing headphones">
                                <p>Wearing headphones</p>
                            </div>
                            <div class="grid-item">
                                <img src="/assets/images/baby.png" class="img-fixed-height govuk-!-margin-bottom-5"
                                alt="Line drawing of a person holding a baby">
                                <p>Holding a baby</p>
                            </div>
                            <div class="grid-item">
                                <img src="/assets/images/language.png" class="img-fixed-height govuk-!-margin-bottom-5"
                                alt="Line drawing of a person with speech bubbles with non-English characters shown">
                                <p>Foreign language</p>
                            </div>
                            <div class="grid-item">
                                <img src="/assets/images/tired.png" class="img-fixed-height govuk-!-margin-bottom-5"
                                alt="Line drawing of a person with tired looking eyes and zz above their head symbolising sleep">
                                <p>Tiredness</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <p class="govuk-body-l">It's important to understand how people use our products and services, and
                        the situations they're using them in, to avoid introducing barriers.</p>

                    </div>

                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <p class="govuk-!-margin-top-6">

                    <a href="/training/accessibility-inclusion/page-11"
                    class="govuk-button" role="button">Next</a>
                </p>
            </p>
        </div>
    </div>

{% endblock %}