{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion/page-5" %}
{% set dateModified = "2025-07-09" %}{% set title = "Equality Act 2010" %}
{% set description = "Accessibility & Inclusion training: Learn about assistive technologies and how they support users with disabilities (page 5)." %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <a href="/training/accessibility-inclusion/page-4" class="govuk-back-link">Back</a>
                        <h1 class="govuk-heading-xl">{{title}}</h1>
                        <p class="govuk-body-l">This law legally protects people from discrimination in the workplace and wider society. It requires that reasonable adjustments are made to ensure people with disabilities can access services and information.</p>
                        <p class="govuk-body-l">The Act also requires public sector bodies to make their websites and mobile applications accessible to people with disabilities.</p>
                        <p class="govuk-body-l">In addition to supporting assistive technologies, this also means offering alternative formats for content that might be difficult for some users to access.</p>
                        <p class="govuk-body-l">Failure to make these adjustments can be considered discrimination.</p>

                    </div>
                    <div class="govuk-grid-column-one-third center-image"></div>
                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <p class="govuk-!-margin-top-6">

                    <a href="/training/accessibility-inclusion/page-6"
                    class="govuk-button" role="button">Next</a>
                </p>
            </p>
        </div>
    </div>

{% endblock %}