{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion/page-13" %}
{% set dateModified = "2025-07-09" %}{% set title = "Recognise exclusion" %}
{% set description = "Accessibility & Inclusion training: Learn about accessible forms and data entry (page 13)." %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <a href="/training/accessibility-inclusion/page-12" class="govuk-back-link">Back</a>
                        <h1 class="govuk-heading-xl">{{title}}</h1>

                        <p class="govuk-body-l">Everyone has biases, these are mostly unintentional and can inadvertently
                        influence design decisions. These biases can result in the exclusion of certain users or groups
                        of users. </p>

                        <p class="govuk-body-l">Exclusion isn't just limited to physical disabilities. It can include
                        exclusion due to social or economic factors.</p>

                        <div class="govuk-inset-text">
                            <p class="govuk-body-l">
                                <span class="govuk-!-font-weight-bold">For example</span><br /><br />If we create an app that does not work on older devices, we're
                        excluding people who cannot afford the latest technology.
                    </p>
                        </div>

                        <p class="govuk-body-l">We can reduce exclusion by carrying out user research with a wide range of
                        participants, reaching under-represented groups, and record information using tools such as the
                        <a href="https://www.gov.uk/government/publications/government-digital-inclusion-strategy/government-digital-inclusion-strategy#measuring-digital-exclusion" target="_blank">digital inclusion scale <span class="govuk-visually-hidden">Opens in a new tab</span></a> to monitor and identify where there may be exclusion happening.

                    </p>

                        <p class="govuk-body-l">When thinking about designing products, services, and documents, think about who you might be intentionally, or unintentionally excluding.</p>
                    </div>
                </div>

            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-!-margin-top-6">

            <a href="/training/accessibility-inclusion/page-14"
                    class="govuk-button" role="button">Next</a>
        </p>
    </p>
</div>

{% endblock %}