{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion/page-18" %}
{% set dateModified = "2025-07-09" %}{% set title = "One size does not fit all" %}
{% set description = "Accessibility & Inclusion training: Explore legal requirements and compliance for digital accessibility (page 18)." %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <a href="/training/accessibility-inclusion/page-17" class="govuk-back-link">Back</a>
                        <h1 class="govuk-heading-xl">{{title}}</h1>
                        <p class="govuk-body-l">Understand that different people have different needs. Design for flexibility.</p>
                        <p class="govuk-body-l">Offer multiple ways to do something, such as voice commands, keyboard only, and text alternatives, and test them yourself.</p>
                        <div class="govuk-inset-text">
                            <p class="govuk-body-l">You can find out how to use such tools in the <a href="/tools-testing" class="govuk-link">Tools and testing </a>section of this site.</p>
                        </div>
                        <p class="govuk-body-l">Identify, understand, and design for edge cases. This will often benefit more people than it excludes.</p>

                    </div>
                </div>

            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-!-margin-top-6">

            <a href="/training/accessibility-inclusion/page-19"
                    class="govuk-button" role="button">Next</a>
        </p>
    </p>
</div>

{% endblock %}