{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion/page-12" %}
{% set dateModified = "2025-07-09" %}{% set title = "Inclusive design principles" %}
{% set description = "Accessibility & Inclusion training: Explore accessible multimedia and alternatives for audio/video content (page 12)." %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <a href="/training/accessibility-inclusion/page-11" class="govuk-back-link">Back</a>
                        <h1 class="govuk-heading-xl">{{title}}</h1>

                        <p class="govuk-body-l">Inclusive design aims to create products, services, and environments that are accessible and usable by as many people as possible, regardless of their age, ability, or circumstance. </p>

                        <h2 class="govuk-heading-l">The 3 principles</h2>

                        <h3 class="govuk-heading-m">1. Recognise Exclusion</h3>
                        <p class="govuk-body-l">Identify and address biases in the design process to avoid unintentionally excluding any user group.</p>

                        <h3 class="govuk-heading-m">2. Learn from Diversity</h3>
                        <p class="govuk-body-l">Involve people with varied backgrounds and abilities to gain unique insights that lead to more innovative and inclusive solutions.</p>

                        <h3 class="govuk-heading-m">3. Solve for One, Extend to Many</h3>
                        <p class="govuk-body-l">Design solutions that address the specific needs of one user group, then adapt and extend those solutions to benefit a broader audience.</p>

                        <p class="govuk-body-l">We'll explore each of these principles in more detail over the next 3 pages.</p>

                    </div>
                </div>

            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-!-margin-top-6">

            <a href="/training/accessibility-inclusion/page-13"
                    class="govuk-button" role="button">Next</a>
        </p>
    </p>
</div>

{% endblock %}