{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion/page-4" %}
{% set dateModified = "2025-07-09" %}{% set title = "Public Sector Bodies (Websites and Mobile Applications) Accessibility Regulations 2018" %}
{% set description = "Accessibility & Inclusion training: Explore the impact of accessibility on user experience and service reach (page 4)." %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <a href="/training/accessibility-inclusion/page-3" class="govuk-back-link">Back</a>
                        <h1 class="govuk-heading-xl">{{title}}</h1>
                        <p class="govuk-body-l">This regulation requires public sector bodies to make their websites and mobile applications accessible to people with disabilities.</p>
                        <p class="govuk-body-l">The regulations are based on the <a href="https://www.w3.org/TR/WCAG22" class="govuk-link"> Web Content Accessibility Guidelines (WCAG) 2.2</a>, which are an internationally recognised set of guidelines for making web content more accessible.</p>

                        <p class="govuk-body-l">As a public sector body, this is the primary law that applies to the digital products and services we build.</p>
                        <p class="govuk-body-l">Essentially, anything a user accesses using a web browser or app must meet this law.</p>

                    </div>
                    <div class="govuk-grid-column-one-third center-image"></div>
                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <p class="govuk-!-margin-top-6">

                    <a href="/training/accessibility-inclusion/page-5"
                    class="govuk-button" role="button">Next</a>
                </p>
            </p>
        </div>
    </div>

{% endblock %}