{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion/page-9" %}
{% set dateModified = "2025-07-09" %}{% set title = "Temporary disabilities" %}
{% set description = "Accessibility & Inclusion training: Explore real-world accessibility scenarios and solutions (page 9)." %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <a href="/training/accessibility-inclusion/page-8" class="govuk-back-link">Back</a>
                        <h1 class="govuk-heading-xl">{{title}}</h1>

                        <p class="govuk-body-l">Temporary impairments are short-term conditions that affect an individual's
                        abilities for a limited time. </p>

                        <p class="govuk-body-l">Examples of temporary disabilities include people who have an eye infection,
                        a broken arm, a head injury or concussion.</p>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="grid-5-container">
                            <div class="grid-item">
                                <img src="/assets/images/eyeinfection.png" class="img-fixed-height"
                                class="govuk-!-margin-bottom-5"
                                alt="Line drawing of a person with an eye patch">
                                <p>Eye infection</p>
                            </div>
                            <div class="grid-item">
                                <img src="/assets/images/earinfection.png" class="img-fixed-height"
                                class="govuk-!-margin-bottom-5"
                                alt="Line drawing of a person with a bandaged ear">
                                <p>Ear infection</p>
                            </div>
                            <div class="grid-item">
                                <img src="/assets/images/brokenarm.png" class="img-fixed-height"
                                class="govuk-!-margin-bottom-5"
                                alt="Line drawing of a person with their right arm in plaster">
                                <p>Broken arm</p>
                            </div>
                            <div class="grid-item">
                                <img src="/assets/images/throatinfection.png" class="img-fixed-height"
                                class="govuk-!-margin-bottom-5"
                                alt="Line drawing of a person with a scarf around their neck and mouth">
                                <p>Throat infection</p>
                            </div>
                            <div class="grid-item">
                                <img src="/assets/images/concussion.png" class="img-fixed-height"
                                class="govuk-!-margin-bottom-5"
                                alt="Line drawing of a person with bandaged head">
                                <p>Concussion</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <p class="govuk-body-l">Like permanent disabilities, anyone can have one or more temporary
                        conditions at the same time.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-!-margin-top-6">

            <a href="/training/accessibility-inclusion/page-10"
                    class="govuk-button" role="button">Next</a>
        </p>
    </p>
</div>

{% endblock %}