{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion/page-19" %}
{% set dateModified = "2025-07-09" %}{% set title = "Accessibility is not a tick box" %}
{% set description = "Accessibility & Inclusion training: Summary and review of accessibility principles and inclusive design (page 19)." %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <a href="/training/accessibility-inclusion/page-18" class="govuk-back-link">Back</a>
                        <h1 class="govuk-heading-xl">{{title}}</h1>
                        <p class="govuk-body-l">This is not a one-time thing, it's not something you do to tick a box.</p>
                        <p class="govuk-body-l">Learn to use assistive technology, play back videos without sound, turn on read-aloud and get your device to read your content out.</p>
                        <div class="govuk-inset-text">
                            <p class="govuk-body-l">Book a visit to the Experience lab in Sheffield. See the <a href="/training" class="govuk-link"> Training page </a>for more information about this.</p>
                        </div>
                        <p class="govuk-body-l">You're disadvantaging people if you don't consider accessibility and inclusion from the start of whatever it is you're creating.</p>
                    </div>
                </div>

            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-!-margin-top-6">

            <a href="/training/accessibility-inclusion/page-20"
                    class="govuk-button" role="button">Next</a>
        </p>
    </p>
</div>

{% endblock %}