{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion/page-8" %}
{% set dateModified = "2025-07-09" %}{% set title = "Permanent disabilities" %}
{% set description = "Accessibility & Inclusion training: Learn about cognitive disabilities and how to design for neurodiversity (page 8)." %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <a href="/training/accessibility-inclusion/page-7" class="govuk-back-link">Back</a>
                        <h1 class="govuk-heading-xl">{{title}}</h1>

                        <p class="govuk-body-l">Permanent disabilities are long-term conditions that affect an individual's
                        ability to do something and are not expected to improve over time. </p>

                        <p class="govuk-body-l">Examples of permanent disabilities could include people who are blind, deaf, or dyslexic.</p>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <div class="grid-5-container">
                            <div class="grid-item">
                                <img src="/assets/images/blind.png" class="img-fixed-height govuk-!-margin-bottom-5"
                                alt="Line drawing of a person with dark glasses and a cane representing blindless">
                                <p>Blind</p>
                            </div>
                            <div class="grid-item">
                                <img src="/assets/images/deaf.png" class="img-fixed-height govuk-!-margin-bottom-5"
                                alt="Line drawing of a person using sign language representing deafness">
                                <p>Deaf</p>
                            </div>
                            <div class="grid-item">
                                <img src="/assets/images/limbs.png" class="img-fixed-height govuk-!-margin-bottom-5"
                                alt="Line drawing of a person with a prosthetic leg and missing left arm representing mobility issues">
                                <p>Missing limbs</p>
                            </div>
                            <div class="grid-item">
                                <img src="/assets/images/nonverbal.png" class="img-fixed-height"
                                class="govuk-!-margin-bottom-5"
                                alt="Line drawing of a person without a mouth representing being non-verbal">
                                <p>Non-verbal</p>
                            </div>
                            <div class="grid-item">
                                <img src="/assets/images/dyslexia.png" class="img-fixed-height govuk-!-margin-bottom-5"
                                alt="Line drawing of a person with a speech bubble of confused lettering represeing dyslexia">
                                <p>Dyslexia</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <p class="govuk-body-l">Disabilities are not limited to one condition, anyone can have multiple
                        disabilities which can affect them in different ways.</p>
                    </div>
                </div>
            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-!-margin-top-6">

            <a href="/training/accessibility-inclusion/page-9"
                    class="govuk-button" role="button">Next</a>
        </p>
    </p>
</div>
</div>

{% endblock %}