{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion/page-14" %}
{% set dateModified = "2025-07-09" %}{% set title = "Learn from diversity" %}
{% set description = "Accessibility & Inclusion training: Understand the role of feedback and user testing in accessibility (page 14)." %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <a href="/training/accessibility-inclusion/page-13" class="govuk-back-link">Back</a>
                        <h1 class="govuk-heading-xl">{{title}}</h1>

                        <p class="govuk-body-l">Include people in the design process of a product or service to reduce the chance of excluding them.</p>

                        <p class="govuk-body-l">People with disabilities can often provide a unique perspective to a problem.</p>
                        
                        <p class="govuk-body-l">By including people with a diverse background in the design process - including age, cultures, ability, and background - will ensure you design things that work for more people.</p>

                        <div class="govuk-inset-text">
                            <p class="govuk-body-l">
                                <span class="govuk-!-font-weight-bold">For example</span><br /><br />Running co-design sessions with people with diverse perspectives will lead to more
                            innovative solutions that might not be
                            apparent with a less diverse team.</p>
                        </div>

                        <p class="govuk-body-l">Ensure that this diversity continues through testing and involve users in
                        the design and feedback process. This helps to maintain a product or website that works for more
                        people and is less likely to exclude anyone.</p>

                    </div>
                </div>

            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-!-margin-top-6">

            <a href="/training/accessibility-inclusion/page-15"
                    class="govuk-button" role="button">Next</a>
        </p>
    </p>
</div>

{% endblock %}