{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion/page-11" %}
{% set dateModified = "2025-07-09" %}{% set title = "Inclusive design principles" %}
{% set description = "Accessibility & Inclusion training: Learn about inclusive design and accessibility best practices in digital services (page 11)." %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <a href="/training/accessibility-inclusion/page-10" class="govuk-back-link">Back</a>
                        <h1 class="govuk-heading-xl">{{title}}</h1>
                        <p class="govuk-body-l">There are 3 key principles of inclusive design. Each principle emphasises a different aspect of ensuring that products and services are accessible and usable by the widest possible range of people.</p>

                    </div>
                </div>

            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-!-margin-top-6">

            <a href="/training/accessibility-inclusion/page-12"
                    class="govuk-button" role="button">Next</a>
        </p>
    </p>
</div>

{% endblock %}