{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion/page-2" %}
{% set dateModified = "2025-07-09" %}{% set title = "What inclusive design means" %}
{% set description = "Accessibility & Inclusion training: Introduction to accessibility and why it matters in digital services (page 2)." %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                    <a href="/training/accessibility-inclusion/page-1" class="govuk-back-link">Back</a>
                        <h1 class="govuk-heading-xl">{{title}}</h1>

                        <p class="govuk-body-l">Inclusive design involves creating products and services that are accessible to, and usable by, as many people as possible without the need for adaptation.</p>
                        <p class="govuk-body-l">It extends beyond the needs of disabled users, to include social or economic factors that can impact a wide range of people.</p>
                        <p class="govuk-body-l">We'll talk more about inclusive design a bit later in the training with some examples.</p>

                    </div>
                    <div class="govuk-grid-column-one-third center-image"></div>
                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

                <p class="govuk-!-margin-top-6">

                    <a href="/training/accessibility-inclusion/page-3"
                    class="govuk-button" role="button">Next</a>
                </p>
            </p>
        </div>
    </div>

{% endblock %}