{% extends "layouts/layout.html" %}

{% set serviceNav = "Training" %}
{% set path = "/training/accessibility-inclusion/page-17" %}
{% set dateModified = "2025-07-09" %}{% set title = "Include people" %}
{% set description = "Accessibility & Inclusion training: Review key accessibility concepts and best practices for digital services (page 17)." %}

{% block content %}
    <div class="govuk-width-container">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <a href="/training/accessibility-inclusion/page-16" class="govuk-back-link">Back</a>
                        <h1 class="govuk-heading-xl">{{title}}</h1>
                        <p class="govuk-body-l">Include people in the design process wherever possible.</p>
                        <p class="govuk-body-l">Check what you design with a wide range of users.</p>
                        <p class="govuk-body-l">Understand what people need, and how they'll use the content you're creating for them to use.</p>

                    </div>
                </div>

            </div>
        </div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

        <p class="govuk-!-margin-top-6">

            <a href="/training/accessibility-inclusion/page-18"
                    class="govuk-button" role="button">Next</a>
        </p>
    </p>
</div>

{% endblock %}