<nav class="dfe-vertical-nav govuk-!-margin-top-2" aria-labelledby="vertical-nav-heading">
  <div class="dfe-vertical-nav__mobile-container">
    <button class="dfe-vertical-nav__toggle" aria-expanded="false" aria-controls="vertical-nav-list">
      <span class="dfe-vertical-nav__toggle-text">
        <strong>Pages in this section</strong>
      </span>
      <span class="dfe-vertical-nav__chevron" aria-hidden="true"></span>
    </button>
    <h2 class="govuk-heading-s govuk-visually-hidden" id="vertical-nav-heading">
      Pages in this section
    </h2>
    <a href="/standards" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to standards</a>

    <ul class="dfe-vertical-nav__section">

      <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--with-subnav{% if path == '/standards/accessibility-regulations' %} dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="/standards/accessibility-regulations">Public sector bodies accessibility regulations</a>
        <ul class="dfe-vertical-nav__section dfe-vertical-nav__section--nested" style="display: {% if path == '/standards/accessibility-regulations' %}block{% else %}none{% endif %}">
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link" href="/standards/accessibility-regulations#why-it-matters-in-dfe">Why it matters in DfE</a>
          </li>
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link" href="/standards/accessibility-regulations#how-to-meet-the-regulations">How to meet the regulations</a>
          </li>
          <li class="dfe-vertical-nav__section-item">
            <a class="dfe-vertical-nav__link" href="/standards/accessibility-regulations#content-in-scope">Content in scope</a>
          </li>
        </ul>
      </li>
      <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--with-subnav{% if path == '/standards/equality-act' %} dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="/standards/equality-act">Equality Act 2010 and the Public Sector Equality Duty</a>
      </li>
      <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--with-subnav{% if path == '/standards/en301549' %} dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="/standards/en301549">Accessibility of IT hardware and software</a>
      </li>

    </ul>
  </div>
</nav>