<nav class="dfe-vertical-nav govuk-!-margin-top-2">
    <a href="/standards" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to standards</a>

    <h2 class="govuk-heading-s">Assurance</h2>
    <ul class="dfe-vertical-nav__section">
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'assessments' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/standards/assessments">Service assessments</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'assessor' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/standards/assessor-role">Accessibility assessor role</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'shca' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/standards/shca">Service Health Check App</a>
        </li>
    </ul>
</nav>