<nav class="dfe-vertical-nav govuk-!-margin-top-2">
    <a href="/standards" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to standards</a>

    <h2 class="govuk-heading-s">The legal requirements</h2>
    <ul class="dfe-vertical-nav__section">
           <li class="dfe-vertical-nav__section-item {% if sidenav === 'psbar' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/standards/psbar">Public sector bodies accessibility regulations</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'equality-act' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/standards/equality-act">Equality Act 2010 and the Public Sector Equality Duty</a>
        </li>
        <li class="dfe-vertical-nav__section-item {% if sidenav === 'en301549' %}dfe-vertical-nav__section-item--current{% endif %}">
            <a class="dfe-vertical-nav__link" href="/standards/en301549">Accessibility of IT hardware and software</a>
        </li>
    </ul>
</nav>