{% extends "layouts/layout.html" %}

{% set serviceNav = "Standards" %}
{% set sidenav = "accessibility-regulations" %}
{% set path = "/standards/accessibility-regulations" %}
{% set title = "Public sector bodies accessibility regulations" %}
{% set description = "The Accessibility Regulations 2018 are standards for public sector websites and mobile apps." %}

{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Standards</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section dfe-manual-section-header--white">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third sticky">

            
                    {% include "standards/_nav.html" %}

                </div>
                <div class="govuk-grid-column-two-thirds">
   
              
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
      The department can be fined if we fail to meet this legal requirement.
   </strong>
                </div>

                <p class="govuk-body">The <a href="https://www.legislation.gov.uk/uksi/2018/952/contents/made" class="govuk-link govuk-link--no-visited-state">Accessibility Regulations 2018</a> are standards for public sector websites and mobile apps. They help to ensure that DfE products and websites can be used by as many people as possible, including those with disabilities.</p>

                <p class="govuk-body">They came into force on:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>23 September 2018 for new and existing websites</li>
                <li>23 June 2021 for mobile applications</li>
                </ul>

                <p class="govuk-body">This law requires public bodies to  meet the latest published version of <a href="/wcag-explorer" class="govuk-link govuk-link--no-visited-state">WCAG</a>.</p>

                <h2 class="govuk-heading-l" id="why-it-matters-in-dfe">Why it matters in DfE</h2>
                <p class="govuk-body">As a government department, we must follow these rules. If you create or update a website or app, it must meet the accessibility requirements.</p>
                <p class="govuk-body">Building accessible products and websites ensures parents, teachers, students and other stakeholders can use our online services without barriers.</p>
                <p class="govuk-body">Following the regulations also improves overall user experience, reduces support calls and helps us to be more inclusive.</p>

                <h2 class="govuk-heading-l" id="how-to-meet-the-regulations">How to meet the regulations</h2>
                <p class="govuk-body">In practice, this means all DfE websites and mobile applications must meet <a href="/wcag" class="govuk-link govuk-link--no-visited-state">WCAG 2.2 (Web Content Accessibility Guidelines) 2.2 at level AA</a>.</p>

                <p class="govuk-body">The <a href="/accessibility.education.gov.uk" class="govuk-link govuk-link--no-visited-state"> DfE Accessibility and inclusive design manual</a> provides guidance on how to meet the regulations. It helps teams to ensure they have the necessary knowledge and skills by providing guidance on:</p>
                
                <ul class="govuk-list govuk-list--bullet">
                    <li>WCAG 2.2</li>
                    <li>how to carry out internal accessibility tests</li>
                    <li>training modules</li>
                </ul>
                <p class="govuk-body">DesignOps in DfE can support teams to get an <a href="/audits-get-an-audit" class="govuk-link govuk-link--no-visited-state">accessibility audit</a>.</p>
                <h2 class="govuk-heading-l" id="content-in-scope">Content in scope</h2>
                 <p class="govuk-body">Examples of content types that must meet the regulations:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>all public-facing web pages on DfE websites and mobile apps</li>
                    <li>all PDFs, Word files or other downloadable documents published after 23 September 2018</li>
                    <li>existing PDFs, Word files or other downloadable documents published before this date were supposed to be accessible by 23 September 2020, but you should aim to ensure all documents are accessible, even if published earlier</li>
                </ul>
                <p class="govuk-body">Use the <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps#things-you-might-not-need-to-fix" class="govuk-link govuk-link--no-visited-state">GOV.UK guidance for things you might not need to fix</a>.</p>
            </div>
        </div>

    </section>

{% endblock %}