{% extends "layouts/layout.html" %}

{% set serviceNav = "Standards" %}
{% set sidenav = "assessor" %}
{% set path = "/standards/assessor-role" %}
{% set title = "Accessibility assessor role" %}
{% set description = "" %}

{% block content %}

    <section class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include "standards/_sidenav_assurance.html" %}
            </div>

            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl">Standards</span>
                <h1 class="govuk-heading-xl">{{title}}</h1>

                <p class="govuk-body">The role of the <a href="https://ddat-capability-framework.service.gov.uk/role/accessibility-specialist" class="govuk-link govuk-link--no-visited-state">accessibility specialist</a> is to ensure that products and websites are usable for everyone.</p>

                <h2 class="govuk-heading-l" id="why-the-role-exists">Why the role exists</h2>

                <p class="govuk-body">As a government department, we need to make sure that our products and websites are accessible. We also need to make sure that our products and websites are compliant with accessibility regulations.</p>

                <p class="govuk-body">Although user research and design assessors can review how accessible a product or website is, it's not their main professional area of expertise. This is why we’ve introduced the role of the accessibility specialist to the assessment panel.</p>

                <h2 class="govuk-heading-l" id="what-the-role-does">What the role does</h2>

                <p class="govuk-body">The accessibility specialist works alongside the rest of the assessor panel with a specific focus on accessibility and inclusive design at alpha, beta and live phases.</p>

                <p class="govuk-body">Due to the low number of accessibility specialists, there will not always be an assessor on every panel.</p>
                <p class="govuk-body">Accessibility specialists will assess large or complex products or websites.</p>

                <h2 class="govuk-heading-l" id="assessing-accessibility">Assessing accessibility</h2>

                <p class="govuk-body">The accessibility specialist will take an in-depth look at all aspects of accessibility and inclusive design.</p>

                <p class="govuk-body">They  will:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>check research includes users with disabilities and access needs</li>
                    <li>ensure there is awareness of accessibility within all professions </li>
                    <li>look for evidence of an accessibility audit plan, including details of budget, time and resource  </li>
                    <li>review accessibility statements (in draft or live), including a plan for when to iterate, and who will be responsible for this </li>
                    <li>review planning or managing accessibility issues and prioritisation  </li>
                </ul>

                <p class="govuk-body">Check <a href="https://apply-the-service-standard.education.gov.uk/service-standard/5-make-sure-everyone-can-use-the-service" class="govuk-link govuk-link--no-visited-state">Service Standard 5</a> for detailed guidance for what the accessibility specialist will look for by phase.</p>

                <h3 class="govuk-heading-m" id="get-involved-and-become-an-accessibility-assessor">Get involved and become an accessibility assessor</h3>

                <p class="govuk-body">If you are not already an assessor, email the Service Assessment Plus team at <a href="mailto:serviceassessment.plus@education.gov.uk" target="_blank" rel="noopener noreferrer" class="govuk-link govuk-link--no-visited-state">serviceassessment.plus@education.gov.uk</a> to complete the assessor training.</p>

                <p class="govuk-body">Once you have completed the assessor training, or if you are already an assessor, email DesignOps at <a href="mailto:design.ops@education.gov.uk" target="_blank" rel="noopener noreferrer" class="govuk-link govuk-link--no-visited-state">design.ops@education.gov.uk</a> to discuss the accessibility specialist assessor role.</p>

                <p class="govuk-body">We're in the process of building this out as a capability in DfE for DDT products and websites.</p>

                <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-top-9 govuk-!-margin-bottom-3">

                <h2 class="govuk-heading-l" id="related-pages">Related pages</h2>

                <ul class="govuk-list govuk-list--spaced">
                    <li><a href="/standards/assessments" class="govuk-link govuk-link--no-visited-state">Service assessments</a></li>
                    <li><a href="/standards/shca" class="govuk-link govuk-link--no-visited-state">Service Health Check App</a></li>
                </ul>

            </div>
        </div>
    </section>

{% endblock %}