{% extends "layouts/layout.html" %}

{% set serviceNav = "Standards" %}
{% set sidenav = "assessments" %}
{% set path = "/standards/assessments" %}
{% set title = "Service assessments" %}
{% set description = "Learn about DfE service assessments and how they ensure accessibility and quality standards are met for all digital products." %}
{% set dateModified = "2025-07-09" %}
{% block content %}

    <section class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include "standards/_sidenav_assurance.html" %}
            </div>

            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl">Standards</span>
                <h1 class="govuk-heading-xl">{{title}}</h1>

               
            
        </div>
    </div>
</section>

{% endblock %}