{% extends "layouts/layout.html" %}

{% set serviceNav = "Standards" %}
{% set path = "/standards" %}
{% set title = "Standards" %}
{% set description = "The accessibility standards that people delivering digital products and websites must meet." %}


{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
               <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="govuk-!-padding-top-7 govuk-!-padding-bottom-5">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">Overview</h2>
                    <p class="govuk-body">As a government department, we're legally required to provide accessible services and products. These legal requirements are implemented through standards.</p>
                    <p class="govuk-body"></p>
                    <p class="govuk-body">The standards are a set of principles and guidelines that ensure we design and build digital services consistently and inclusively.</p>
                    <p class="govuk-body"> We have assurance processes in place to make sure we're meeting standards.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="govuk-!-padding-top-7 govuk-!-padding-bottom-5">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l" id="legislation">The legal requirements</h2>
                    <p class="govuk-body">Learn about the legislation that DfE must meet to ensure our services and products are accessible for everyone.</p>
                    <div class="dfe-grid-container">
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-m">
                                    <a href="/standards/psbar" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Public sector bodies accessibility regulations</a>
                                </h3>
                                <p class="govuk-body">The Accessibility Regulations 2018 are accessibility standards for public sector websites and mobile apps.</p>
                            </div>
                        </div>
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-m">
                                    <a href="/standards/equality-act" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Equality Act 2010 and the Public Sector Equality Duty</a>
                                </h3>
                                <p class="govuk-body">The Equality Act 2010 legally protects people from discrimination in the workplace and in wider society, includes the Public Sector Equality Duty.</p>
                            </div>
                        </div>
                        <div class="dfe-card">
                            <div class="dfe-card-container">
                                <h3 class="govuk-heading-m">
                                    <a href="/standards/en301549" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Accessibility of IT hardware and software</a>
                                </h3>
                                <p class="govuk-body">Legislation that requires public sector organisations to make their ICT hardware and software accessible to disabled people.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="govuk-!-padding-top-5 govuk-!-padding-bottom-7">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l" id="dfe-standards">The standards</h2>
                    <p class="govuk-body">The DfE accessibility standards must be met as part of the product delivery lifecycle for all products and websites.</p>
                    <p class="govuk-body">Standards are published in the <a href="https://standards.education.gov.uk" target="_blank" class="govuk-link govuk-link--no-visited-state">Standards manual<span class="govuk-visually-hidden">opens in new tab</span></a>. All links open in a new tab.</p>
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header govuk-!-width-one-quarter">Standard</th>
                                <th class="govuk-table__header" style="width: 15%">Reference</th>
                                <th class="govuk-table__header">Summary</th>
                            </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header">
                                    <a href="https://standards.education.gov.uk/standard/accessibility-statements" target="_blank" class="govuk-link govuk-link--no-visited-state">
                                        Accessibility Statements <span class="govuk-visually-hidden">opens in new tab</span>
                                    </a>
                                </th>
                                <td class="govuk-table__cell">
                                    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">DDTS-34</strong>
                                </td>
                                <td class="govuk-table__cell">
                                    The accessibility statements standard ensures DfE products and websites meet accessibility regulations.
                                </td>
                            </tr>
                            <tr class="govuk-table__row">
                                <th class="govuk-table__header">
                                    <a href="https://standards.education.gov.uk/standard/accessibility-conformance" target="_blank" class="govuk-link govuk-link--no-visited-state">
                                        Accessibility Conformance <span class="govuk-visually-hidden">opens in new tab</span>
                                    </a>
                                </th>
                                <td class="govuk-table__cell">
                                    <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">DDTS-463</strong>
                                </td>
                                <td class="govuk-table__cell">
                                    The accessibility conformance standard outlines requirements for ensuring DfE digital services meet WCAG guidelines and other accessibility regulations.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <section style="background-color: #ffffff;" class="govuk-!-padding-top-5 govuk-!-padding-bottom-9">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">How accessibility is assured in DfE</h2>
                </div>
                <div class="govuk-grid-column-one-third">
                    <div class="govuk-!-padding-top-1 govuk-!-margin-bottom-5" style="background-color: #003a69;"></div>
                    <p class="govuk-body">We have a range of assurance processes in place in DfE to ensure that we're meeting the standards.</p>
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <div class="govuk-!-padding-top-1 govuk-!-margin-bottom-5" style="background-color: #aecbdd;"></div>

               

                    <ul class="govuk-list govuk-list--spaced">
                        <li>
                            <a href="/standards/assessments" class="govuk-link govuk-link--no-visited-state">Service assessments</a>
                        </li>
                        <li>
                            <a href="/standards/assessor-role" class="govuk-link govuk-link--no-visited-state">Accessibility assessor role</a>
                        </li>
                        <li>
                            <a href="/standards/shca" class="govuk-link govuk-link--no-visited-state">Service Health Check App</a>
                        </li>
                    </ul>
                 
                </div>
            </div>
        </div>
    </section>



{% endblock %}