{% extends "layouts/layout.html" %}

{% set serviceNav = "Standards" %}
{% set sidenav = "psbar" %}
{% set path = "/standards/psbar" %}
{% set title = "Public Sector Bodies (Websites and Mobile Applications) Accessibility Regulations 2018" %}
{% set description = "" %}

{% block content %}

    <section class="govuk-width-container">

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-third">
                {% include "standards/_sidenav.html" %}
            </div>

            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl">Standards</span>
                <h1 class="govuk-heading-xl">{{title}}</h1>

                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
      The department can be fined if we fail to meet this legal requirement.
   </strong>
                </div>

                <p class="govuk-body">The <a href="https://www.legislation.gov.uk/uksi/2018/952/contents/made" class="govuk-link govuk-link--no-visited-state">Accessibility Regulations 2018</a> are standards for public sector websites and mobile apps. They help to ensure that DfE products and websites can be used by as many people as possible, including those with disabilities.</p>

                <p class="govuk-body">They came into force on:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>23 September 2018 for new and existing websites</li>
                <li>23 June 2021 for mobile applications</li>
                </ul>

                <p class="govuk-body">This law requires public bodies to  meet the latest published version of <a href="/wcag-explorer" class="govuk-link govuk-link--no-visited-state">WCAG</a>.</p>

                <h2 class="govuk-heading-l">Why it matters for DfE</h2>
                <p class="govuk-body">As a government department, we must follow these rules. If you create or update a website or app, it must meet the accessibility requirements. </p>
                <p class="govuk-body">Building accessible products and websites ensures parents, teachers, students and other stakeholders can use our online services without barriers.</p>
                <p class="govuk-body">Following the regulations also improves overall user experience, reduces support calls and helps us to be more inclusive.</p>

                <h2 class="govuk-heading-l">How to meet the regulations</h2>
                <p class="govuk-body">In practice, this means all DfE websites and mobile applications must follow <a href="/wcag" class="govuk-link govuk-link--no-visited-state">WCAG 2.2 (Web Content Accessibility Guidelines) 2.2 at level AA</a>.</p>

                <h2 class="govuk-heading-l">Content in scope</h2>
                 <p class="govuk-body">Examples of content types that must meet the regulations:</p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>all public-facing web pages on DfE websites and mobile apps</li>
                    <li>all PDFs, Word files or other downloadable documents added after 23 September 2018</li>
                    <li>existing PDFs, Word files or other downloadable documents published before this date were supposed to be accessible by 23 September 2020, but you should aim to ensure all documents are accessible, even if published earlier</li>
                </ul>
                <p class="govuk-body">Use the <a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps#things-you-might-not-need-to-fix" class="govuk-link govuk-link--no-visited-state">GOV.UK guidance for things you might not need to fix</a>.</p>
            </div>
        </div>

    </section>

{% endblock %}