{% extends "layouts/layout.html" %}

{% set serviceNav = "Standards" %}
{% set sidenav = "shca" %}
{% set path = "/standards/shca" %}
{% set title = "Service Health Check App" %}
{% set description = "The Service Health Check App (SHCA) helps DfE teams assess and improve the accessibility and quality of digital services." %}
{% set dateModified = "2025-07-09" %}
{% block content %}

    <section class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {% include "standards/_sidenav_assurance.html" %}
            </div>

            <div class="govuk-grid-column-two-thirds">
                <span class="govuk-caption-xl">Standards</span>
                <h1 class="govuk-heading-xl">{{title}}</h1>

               
            
        </div>
    </div>
</section>

{% endblock %}