{% extends "layouts/layout.html" %}

{% set serviceNav = "Audits" %}
{% set path = "/audits-issues-statements/audits" %}
{% set title = "Accessibility audits" %}
{% set description = "An accessibility audit will check to make sure your product or website meets the WCAG 2.2 Level AA accessibility guidelines and how well it performs with assistive technologies." %}
{% set dateModified = "2025-07-09" %}
{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Audits, issues and statements</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section dfe-manual-section-header--white">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third sticky">

                    {% include "audits-issues-statements/audits/_nav.html" %}

                </div>
                <div class="govuk-grid-column-two-thirds">

                    <p class="govuk-body">An audit will give you an understanding of the types of barriers users may face when using your product or website. It will also provide remediation techniques to help resolve any issues.</p>

                    <p class="govuk-body">It will check whether your product or website meets WCAG 2.2 Level AA and the <a href="/standards/accessibility-regulations" class="govuk-link govuk-link--no-visited-state">public sector bodies accessibility regulations</a>.</p>

                    <div class="govuk-inset-text">You can <a href="/audits-issues-statements/audits/get-an-audit" class="govuk-link govuk-link--no-visited-state">get help to plan and organise your audit</a>.</div>

                    <p class="govuk-body">Before going into public beta, your product or website must work with a combination of <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">assistive technologies</a> and browsers. An audit will ensure this and will also help you to meet <a href="https://apply-the-service-standard.education.gov.uk/service-standard/5-make-sure-everyone-can-use-the-service" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">Service Standard point 5</a>.</p>

                    <p>You will use the report to help to create your accessibility statement.</p>

                    <h2 class="govuk-heading-l" id="start-to-plan-for-an-audit-in-alpha">Start to plan for an audit in alpha</h2>

                    <p class="govuk-body">Even though you will not need to do an audit until beta, you should start planning earlier.</p>

                    <p class="govuk-body">Delivery and product managers should also consider that when you receive the report, the team will need time and resource to fix issues and potentially redesign sections of your service to make sure they're accessible.</p>

                    <p class="govuk-body">You must get an audit before your service moves into public beta.</p>

                    <h2 class="govuk-heading-l" id="start-to-plan-for-an-audit-in-alpha">Understand the scope of your audit</h2>
                    <p class="govuk-body">Before requesting an audit, you need to work out what exactly needs to be audited.</p>
                    <p class="govuk-body">You must audit production-quality code and not prototype code or kit.</p>

                    <p class="govuk-body">The auditors will need essential information to:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>access the service</li>
                        <li>understand the scope of the test</li>
                        <li>have all the relevant data to complete the user journeys</li>
                    </ul>
                    <p class="govuk-body">You'll need to provide these details in advance to avoid delays in testing.</p>
                    <p class="govuk-body">An accessibility statement is a legal document. The contents are informed by the findings of an accessibility audit, so it's important that audit requirements are in line with <a href="https://www.w3.org/WAI/test-evaluate/conformance/wcag-em/" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer">Website Accessibility Conformance Evaluation Methodology (WCAG-EM)</a>.</p>

                </div>
            </section>

        {% endblock %}