{% extends "layouts/layout.html" %}

{% set serviceNav = "Audits" %}
{% set path = "/audits-issues-statements/audits/why-you-need-an-audit" %}
{% set title = "Why you need an audit" %}
{% set description = "An accessibility audit will check to make sure your product or website meets the WCAG 2.2 Level AA accessibility guidelines and how well it performs with assistive technologies." %}

{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Audits, issues and statements</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section dfe-manual-section-header--white">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-quarter sticky">

                    {% include "audits-issues-statements/audits/_nav.html" %}

                </div>
                <div class="govuk-grid-column-three-quarters">

 <p class="govuk-body">An accessibility audit will give you an understanding of the types of barriers users may face when using your product or website. It will also provide remediation techniques to help resolve any issues.</p>
    
    <p class="govuk-body">It will check whether your product or website meets WCAG 2.2 Level AA and the <a href="/standards/accessibility-regulations" class="govuk-link govuk-link--no-visited-state">public sector bodies accessibility regulations</a>. You can read more about some of the <a href="/audits-issues-statements/issues/common-issues" class="govuk-link govuk-link--no-visited-state">most&nbsp;common&nbsp;issues&nbsp;found&nbsp;in&nbsp;DfE&nbsp;audits</a>.</p>

    <p class="govuk-body">Before going into public beta, your product or website must work with a combination of <a href="https://www.gov.uk/service-manual/technology/testing-with-assistive-technologies" class="govuk-link govuk-link--no-visited-state">assistive technologies</a> and browsers. An audit will ensure this and will help you to meet <a href="https://apply-the-service-standard.education.gov.uk/service-standard/5-make-sure-everyone-can-use-the-service" class="govuk-link govuk-link--no-visited-state">Service Standard point 5</a>.</p>

    <p>You can use the report to help to create your accessibility statement.</p>

    <h2 class="govuk-heading-l" id="whats-included-in-the-audit-report">What's included in the audit report</h2>
    <p class="govuk-body">The report will tell you:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>where your product or website is failing to provide a good user experience, especially for people with disabilities</li>
        <li>which guidelines you are failing to meet</li>
        <li>why you have not met the criteria and how to resolve issues</li>
    </ul>
    <p class="govuk-body">It will provide users with an understanding of where they could face accessibility barriers. They can then make a choice to use your product or website or think about workarounds.</p>

                </div>
            </div>
        </div>
    </section>

{% endblock %}