<nav class="dfe-vertical-nav govuk-!-margin-top-2" aria-labelledby="vertical-nav-heading">
  <div class="dfe-vertical-nav__mobile-container">
    <button class="dfe-vertical-nav__toggle" aria-expanded="false" aria-controls="vertical-nav-list">
      <span class="dfe-vertical-nav__toggle-text">
        <strong>Pages in this section</strong>
      </span>
      <span class="dfe-vertical-nav__chevron" aria-hidden="true"></span>
    </button>
    <h2 class="govuk-heading-s govuk-visually-hidden" id="vertical-nav-heading">
      Pages in this section
    </h2>
    <a href="/audits-issues-statements" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to audits, issues and statements</a>

    <ul class="dfe-vertical-nav__section">
      <li class="dfe-vertical-nav__section-item{% if path == '/audits-issues-statements/accessibility-statements/templates' %} dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="/audits-issues-statements/accessibility-statements/templates">Statement templates overview</a>
      </li>
      <li class="dfe-vertical-nav__section-item{% if path == '/audits-issues-statements/accessibility-statements/fully-compliant' %} dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="/audits-issues-statements/accessibility-statements/fully-compliant">Fully compliant template</a>
      </li>
      <li class="dfe-vertical-nav__section-item{% if path == '/audits-issues-statements/accessibility-statements/partially-compliant' %} dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="/audits-issues-statements/accessibility-statements/partially-compliant">Partially compliant template</a>
      </li>
      <li class="dfe-vertical-nav__section-item{% if path == '/audits-issues-statements/accessibility-statements/non-compliant' %} dfe-vertical-nav__section-item--current{% endif %}">
        <a class="dfe-vertical-nav__link" href="/audits-issues-statements/accessibility-statements/non-compliant">Non-compliant template</a>
      </li>
    </ul>
  </div>
</nav>