<nav aria-labelledby="vertical-nav-heading" class="dfe-vertical-nav govuk-!-margin-bottom-6">
  <h2 class="govuk-heading-s govuk-visually-hidden" id="vertical-nav-heading">
    Pages in this section
  </h2>
  <a href="/audits-issues-statements" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-9">Back to audits, issues and statements</a>
  <ul class="dfe-vertical-nav__section">
    <li class="dfe-vertical-nav__section-item{% if path == '/audits-issues-statements/accessibility-statements/templates' %} dfe-vertical-nav__section-item--current{% endif %}">
      <a class="dfe-vertical-nav__link" href="/audits-issues-statements/accessibility-statements/templates">Statement templates overview</a>
    </li>
    <li class="dfe-vertical-nav__section-item{% if path == '/audits-issues-statements/accessibility-statements/fully-compliant' %} dfe-vertical-nav__section-item--current{% endif %}">
      <a class="dfe-vertical-nav__link" href="/audits-issues-statements/accessibility-statements/fully-compliant">Fully compliant template</a>
    </li>
    <li class="dfe-vertical-nav__section-item{% if path == '/audits-issues-statements/accessibility-statements/partially-compliant' %} dfe-vertical-nav__section-item--current{% endif %}">
      <a class="dfe-vertical-nav__link" href="/audits-issues-statements/accessibility-statements/partially-compliant">Partially compliant template</a>
    </li>
    <li class="dfe-vertical-nav__section-item{% if path == '/audits-issues-statements/accessibility-statements/non-compliant' %} dfe-vertical-nav__section-item--current{% endif %}">
      <a class="dfe-vertical-nav__link" href="/audits-issues-statements/accessibility-statements/non-compliant">Non-compliant template</a>
    </li>
  </ul>
</nav>