{% extends "layouts/layout.html" %}

{% set serviceNav = "Tools and testing" %}
{% set path = "/tools-testing/motor" %}
{% set title = "Motor" %}
{% set description = "Tools and techniques to help you test for motor impairments" %}
{% set dateModified = "2025-07-09" %}
{% block content %}

    <section class="dfe-manual-section dfe-manual-section--header dfe-manual-section-header--white dfe-manual-section-header--bordered-bottom">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <span class="govuk-caption-xl">Tools and testing</span>
                    <h1 class="govuk-heading-xl">{{title}}</h1>
                    <p class="govuk-body-l">{{description}}</p>
                </div>
            </div>
        </div>
    </section>

    <section class="dfe-manual-section dfe-manual-section-header--white">
        <div class="govuk-width-container">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third sticky">
                    {% include "tools-testing/_nav.html" %}
                </div>
                <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body">
                        Motor impairments affect how people perceive and interact with digital content.
                    </p>
                    <p class="govuk-body">Common conditions include:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>arthritis</li>
                        <li>cerebral palsy</li>
                        <li>multiple sclerosis</li>
                        <li>Parkinson's disease</li>
                        <li>broken arm</li>
                    </ul>

                    <h3 class="govuk-heading-m">Challenges for people with motor impairments</h3>
                    <p class="govuk-body">Motor impairments can make it difficult to:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>make precise movements</li>
                        <li>use a mouse, trackpad or touchscreen</li>
                        <li>complete tasks quickly</li>
                    </ul>

                    <h2 class="govuk-heading-l" id="testing-tools">Testing tools to identify barriers</h2>
                    
                    <h3 class="govuk-heading-m" id="automated-tools">Run automated tests</h3>
                    <p class="govuk-body">
                        Start by using automated tools to identify accessibility issues, including visual impairments. Automated tools work best when used collectively, so you should use all 3 together.
                    </p>
                    <p class="govuk-body">You could install and use:</p>
                     <ul class="govuk-list govuk-list--bullet">
                        <li><a href="/tools-testing/tools/axe-devtools" class="govuk-link">axe DevTools</a></li>
                        <li><a href="/tools-testing/tools/wave-evaluation" class="govuk-link">WAVE</a></li>
                        <li><a href="/tools-testing/tools/arc-toolkit" class="govuk-link">ARC Toolkit</a></li>
                     </ul>

                    <h3 class="govuk-heading-m" id="manual-tools">Run manual tests</h3>
                    <p class="govuk-body">
                        After automated tests, you should do manual tests. They can identify more accessibility problems and let you see how your product or website works for people with different motor impairments.
                    </p>
                    <p class="govuk-body">You could use:</p>
                     <ul class="govuk-list govuk-list--bullet">
                        <li><a href="/tools-testing/tools/target-size" class="govuk-link">Target size</a></li>
                        <li>a device to <a href="https://accessibility-manual-7ceaefc568e2.herokuapp.com/knowledge-hub/wcag/criteria/perceivable#1-3-4" class="govuk-link">test in landscape mode</a></li>
                        <li><a href="/guidelines/wcag/explorer#2-1-1" class="govuk-link">keyboard only</a></li>
                     </ul>

                    <h3 class="govuk-heading-m" id="screen-readers">Run screen reader tests</h3>
                    <p class="govuk-body">You should also test with a <a href="/tools-testing/tools/screen-readers" class="govuk-link">screen reader</a>, to understand how people who use one might navigate your product or website.</p>

                    <h2 class="govuk-heading-l" id="personas">Test with personas</h2>
                    <p class="govuk-body">
                        You could use <a href="https://personas-prototype.herokuapp.com/" class="govuk-link">HMRC's accessibility personas</a>. They're a good starting point to understand user needs of people with disabilities.
                    </p>

                    <div class="govuk-card govuk-!-margin-bottom-6">
                        <div class="govuk-card__content">
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Chris</h3>
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">
                                User with rheumatoid arthritis
                            </p>
                            <div class="govuk-body govuk-!-margin-bottom-4">
                                <p class="govuk-!-margin-bottom-2">Christopher mainly uses a keyboard to navigate content. He needs:</p>
                                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                                    <li>keyboard navigation</li>
                                    <li>some screen reader use</li>
                                    <li>clearly labelled HTML elements</li>
                                </ul>
                            </div>
                            <p class="govuk-body govuk-!-margin-bottom-0">
                                <a href="https://personas-prototype.herokuapp.com/chris/" class="govuk-link govuk-link--no-visited-state">
                                    View Chris's profile and task
                                    <span class="govuk-visually-hidden"> - User with rheumatoid arthritis</span>
                                </a>
                            </p>
                        </div>
                    </div>

                    <div class="govuk-card">
                        <div class="govuk-card__content">
                            <h3 class="govuk-heading-m govuk-!-margin-bottom-4">Ron</h3>
                            <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-3">
                                Older user with multiple conditions
                            </p>
                            <div class="govuk-body govuk-!-margin-bottom-4">
                                <p class="govuk-!-margin-bottom-2">Ron uses offline support for services when available. He needs:</p>
                                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
                                    <li>accessible offline support</li>
                                    <li>high contrast and clear text</li>
                                    <li>clear page structure</li>
                                </ul>
                            </div>
                            <p class="govuk-body govuk-!-margin-bottom-0">
                                <a href="https://personas-prototype.herokuapp.com/ron/" class="govuk-link govuk-link--no-visited-state">
                                    View Ron's profile and task
                                    <span class="govuk-visually-hidden"> - User with multiple conditions</span>
                                </a>
                            </p>
                        </div>
                    </div>

                    
                  
                     

                  
                </div>
            </div>
        </div>
    </section>

{% endblock %}