<section class="dfe-service-action-banner">

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-phase-banner">
                    <p class="govuk-phase-banner__content">
                        <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
                        <span class="govuk-phase-banner__text">
      This is a new service. Help us improve it and <a class="govuk-link" href="#">give your feedback by email</a>.
    </span>
                    </p>
                </div>
            </div>
            <div class="govuk-grid-column-one-third"></div>
        </div>
    </div>

</section>

<style>
    .dfe-service-action-banner {
        background-color: var(--modern-blue-dark);
        color: #fff;
    }
    .dfe-service-action-banner .govuk-phase-banner{
        border-bottom:none;
        color: #fff;
        padding: 1rem 0;
    }
    .dfe-service-action-banner .govuk-phase-banner__content__tag{
        background-color: #fff;
        color: var(--modern-blue-dark);
    }
    .dfe-service-action-banner .govuk-phase-banner__text{
        color: #fff;
        font-size: 1rem;
    }
    .dfe-service-action-banner .govuk-phase-banner__text a{
        color: #fff;
    }
</style>